Collecting reportlab
  Using cached reportlab-4.2.2-py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: pillow>=9.0.0 in c:\users\anike\onedrive\desktop\test\droneanatomy\.venv\lib\site-packages (from reportlab) (10.4.0)
Requirement already satisfied: chardet in c:\users\anike\onedrive\desktop\test\droneanatomy\.venv\lib\site-packages (from reportlab) (5.2.0)
Using cached reportlab-4.2.2-py3-none-any.whl (1.9 MB)
Installing collected packages: reportlab
Successfully installed reportlab-4.2.2
