.blog-banner {
    background-image: url('../img/blog-banner.jpg');
    background-color: black;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.blog-detail h3 {
    font-size: 2.2em;
    font-weight: 500;
}
.blog-detail h4 {
    font-size: 1.4em;
    padding-top: 25px;
    margin-bottom: 10px;
    font-weight: 500;
}

.blog-detail p {
    font-size: 1.2em;
    color: #333;
    text-align: justify;
}



blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 20px 0;
    padding: 10px 20px;
    quotes: "“" "”" "‘" "’";
}

blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 10px;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
    font-style: italic;
}

@media (max-width: 768px) {

    .blog-detail h3 {
        font-size: 2em;
    }

    .blog-detail p {
        font-size: 1em;
    }
}