input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.traning-image {
    background-image: url('../img/farmer1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 460px;
    width: 460px;
    margin-top: 30%;
    object-fit: cover;
    position: relative;
    box-shadow: 0px 4px 10px rgb(76, 76, 75);

    animation: floatUpAndDown 3s ease-in-out infinite;

}

.traning-image::before {
    content: '';
    position: absolute;
    background-image: url('../img/farmer2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    top: -30%;
    left: -50%;
    height: 100%;
    width: 100%;
    z-index: -1;
    box-shadow: 0 4px 10px rgb(76, 76, 75);

    animation: floatUpAndDown 3.2s ease-in-out infinite;

}

@keyframes floatUpAndDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
    
}

@media screen and (max-width:792px) {
    .traning-image {
        width: 65%;
        height: 60%;
        margin-top: 0;
    }
}