input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* training page */
.training-banner-container {
    background-image: url('https://images.pexels.com/photos/159213/hall-congress-architecture-building-159213.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    height: 30vh;
    max-height: 500px;
}

.traning-image {
    background-image: url('../img/training2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 360px;
    width: 360px;
    margin-top: 30%;
    object-fit: cover;
    position: relative;
    box-shadow: 0px 4px 10px rgb(76, 76, 75);

    animation: floatUpAndDown 3s ease-in-out infinite;

}

.traning-image::before {
    content: '';
    position: absolute;
    background-image: url('../img/training1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    top: -30%;
    left: -50%;
    height: 100%;
    width: 100%;
    z-index: -1;
    box-shadow: 0 4px 10px rgb(76, 76, 75);

    animation: floatUpAndDown 3.2s ease-in-out infinite;

}

@keyframes floatUpAndDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
    
}

@media screen and (max-width:792px) {
    .traning-image {
        width: 65%;
        height: 60%;
        margin-top: 0;
    }
}

