{% extends 'base.html' %} {% load static %} {% block body %}


<main class="bg-black w-full">
  <section id="drone-hero-section" class="w-full">
    <div id="agri-hero-1" class="panel relative w-full">
      <div
        id="hero-1-content"
        class="absolute top-10 left-1/3 lg:left-1/3 h-1/4 text-black flex flex-col justify-end "
      >
        <h3 class="text-3xl">Lorem, ipsum dolor.</h3>
        <h4 class="text-5xl font-normal">Lorem, ipsum dolor.</h4>
      </div>
    </div>
    <div class="panel hidden lg:block">

        <div class="w-full h-lvh relative">
            <video src="{% static 'core/Drone_clip.mp4' %}" autoplay muted loop class="absolute top-0 left-0 -z-10 object-cover h-dvh w-full"></video>
        </div>
        <div class="mx-auto scroll-text panel h-lvh bg-transparent grid place-content-center text-white">
            <ul class="flex flex-col justify-center items-center">
                <li>aksdjfkw</li>
                <li>asgw</li>
                <li>zsdgWe</li>
                <li>sedfsef</li>
            </ul>
        </div>
    </div>
    
    <div id="agri-hero-2" class="lg:hidden w-full">
      <div id="hero-2-content" class="mx-auto">
        <ul class="flex flex-col items-center">
          <li><p>Lorem, ipsum dolor.</p></li>
          <li><p>Lorem, ipsum dolor.</p></li>
          <li><p>Lorem, ipsum dolor.</p></li>
          <li><p>Lorem, ipsum dolor.</p></li>
        </ul>
      </div>
    </div>
  </section>
  <div class="w-full lg:h-lvh bg-white lg:grid lg:place-content-center ">
  <div id="agri-drone-video" class="overflow-hidden lg:rounded-lg h-[27vh] lg:h-[468px] w-full lg:w-7/12 mx-auto relative">
    <div class="play-btn"></div>
    <video
      id="drone-video"
      src="{% static 'core/Drone_clip.mp4' %}"
      loop
      controls="nodownload"
      class=""
    ></video>
  </div>
</div>

  <section id="agri-drone-features">
    <div id="agri-flow-cards-container" class="w-full py-8 mb-16 bg-white">
        <div class="flex flex-col lg:flex-row gap-6 w-10/12 lg:w-9/12 mx-auto">

            <div
            class="p-6 lg:p-10 bg-gray-300 lg:w-1/2 w-full mx-auto rounded-md flex flex-col gap-3"
            >
                <h6 class="text-xl lg:text-2xl">Max Flow Rate</h6>
                <div class="">

                    <p class="text-base">Lorem ipsum dolor sit. <span>lorem</span></p>
                    <div class="flex gap-3 items-center">
                        
                        <span class="progress-bar-accent text-right h-2 w-9/12 bg-gradient-to-r from-white to-yellow-500 rounded-lg"></span><span class="-mr-10 -mt10 text-yellow-500"><span class=" text-2xl">1.2 </span>x</span>
                    </div>
                </div>
                <p>Lorem, ipsum dolor. <span>lorem</span></p>
                <div class="flex gap-3 items-center">

                    <span class="progress-bar-gray  text-right h-2 w-1/2 bg-slate-300 rounded-lg"></span>
                </div>
                <div class="divider bg-gray-600 w-11/12 border-gray-600 border border-bottom my-12"></div>
                <h6 class="text-xl lg:text-2xl italic">Lorem <span class="text-yellow-500"> ipsum dolor sit amet.</span></h6>
                <div class="flex flex-col gap-4">
                    <p>Open Field <span class="mx-4"> | </span><span class="text-yellow-500"><span class="text-3xl">19 </span>ha/hr</span></p>
                    <p>Open Field <span class="mx-4"> | </span><span class="text-yellow-500"><span class="text-3xl">19 </span>ha/hr</span></p>
                </div>
            </div>
            <div
            class="p-6 lg:p-10 bg-gray-300 lg:w-1/2 w-full  mx-auto rounded-md flex flex-col gap-3"
            >
                <h6 class="text-xl lg:text-2xl">Max Flow Rate</h6>
                <div class="">

                    <p class="text-base">Lorem ipsum dolor sit. <span>lorem</span></p>
                    <div class="flex gap-3 items-center">
                        
                        <span class="progress-bar-accent  text-right h-2 w-9/12 bg-gradient-to-r from-white to-yellow-500 rounded-lg"></span><span class="-mr-10 -mt10 text-yellow-500"><span class=" text-2xl">1.2 </span>x</span>
                    </div>
                </div>
                <p>Lorem, ipsum dolor. <span>lorem</span></p>
                <div class="flex gap-3 items-center">

                    <span class="progress-bar-gray  text-right h-2 w-1/2 bg-slate-300 rounded-lg"></span>
                </div>
                <div class="divider bg-gray-600 w-11/12 border-gray-600 border border-bottom my-12"></div>
                <h6 class="text-xl lg:text-2xl italic">Lorem <span class="text-yellow-500"> ipsum dolor sit amet.</span></h6>
                <div class="flex flex-col gap-4">
                    <p>Open Field <span class="mx-4"> | </span><span class="text-yellow-500"><span class="text-3xl">19 </span>ha/hr</span></p>
                    <p>Open Field <span class="mx-4"> | </span><span class="text-yellow-500"><span class="text-3xl">19 </span>ha/hr</span></p>
                </div>
            </div>    
        </div>
        <p class="mx-auto text-center text-xs leading-[1.2]">
            Lorem ipsum dolor sit amet consectetur adipisicing.
        </p>
    </div>

    <div id="agri-payload-container-m" class="lg:hidden px-8 py-12 flex flex-col gap-6">
      <p>Lorem ipsum dolor sit amet.</p>
      <h2 class="text-white">Lorem ipsum dolor sit amet consectetur.</h2>
      <div class="space-y-1">
        <img
          src="{% static 'core/img/drone-white.jpg' %}"
          alt="drone-unfolded"
        />
        <h3 class="text-white">Lorem, ipsum.</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, illo.
        </p>
      </div>
      <div class="space-y-1">
        <img
          src="{% static 'core/img/drone-white.jpg' %}"
          alt="drone-unfolded"
        />
        <h3 class="text-white">Lorem, ipsum.</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, illo.
        </p>
      </div>

      <div class="feature-popup-btn pt-10 text-right">
        <a href="">
          <p>Lorem ipsum dolor sit. <span>arrow</span></p>
        </a>
      </div>
      <div
        class="feature-popup hidden w-full z-50 bg-black fixed top-0 left-0 p-16 overflow-y-auto"
      >
        <div class="popup-close-btn">icon</div>
        <div class="space-y-6 h-96 overflow-auto">
          <img
            src="{% static 'core/img/drone-white.jpg' %}"
            alt=""
            class="h-80 w-full object-cover"
          />
          <img
            src="{% static 'core/img/drone-white.jpg' %}"
            alt=""
            class="h-80 w-full object-cover"
          />
          <img
            src="{% static 'core/img/drone-white.jpg' %}"
            alt=""
            class="h-80 w-full object-cover"
          />
        </div>
      </div>
    </div>

    <div class="w-full spray-banner flex items-center">
        <div class="space-y-6 w-8/12 text-white mx-auto">
            <h6 class="text-sm">Lorem, ipsum.</h6>
            <p>Lorem ipsum dolor sit amet consectetur <br>
            adipisicing elit. Neque laboriosam eum voluptas.</p>
            <h3 class="text-3xl">Lorem ipsum dolor sit amet.</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut unde nisi reprehenderit voluptatum <br>
            architecto dolor, obcaecati ut nam eaque dicta.</p>
        </div>
    </div>

    <div class="w-full h-lvh hidden lg:block">

        <div class="scale-up-video w-full h-full scale-50 grid place-content-center overflow-hidden">
            <video src="{% static 'core/Drone_Clip.mp4' %}" autoplay loop muted class="object-cover h-lvh w-full"></video>
        </div>
    </div>

    <div id="agri-spray-feature-container" class="px-8 py-12 text-white flex flex-col justify-between">
      <div class="flex flex-col gap-2">
        <h6 class="text-sm font-normal">Lorem, ipsum.</h6>
        <p class="text-xs text-white">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
          explicabo tenetur necessitatibus!
        </p>
        <h class="text-xl">Lorem ipsum dolor sit amet consectetur adipisicing.</h3>
        <p class="text-xs text-white">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas dolor
          eius nihil magni, magnam suscipit.
        </p>
      </div>

      <ul id="agri-spray-feature-list" class="grid grid-cols-2 gap-2 text-white">
        <li class="">
          <p class="text-xs text-white">Lorem, ipsum dolor.</p>
          <p class="text-white"><span class="text-lg">22</span> L/min</p>
        </li>
        <li>
          <p class="text-xs text-white">Lorem, ipsum dolor.</p>
          <p class="text-white"><span class="text-lg">22</span> L/min</p>
        </li>
        <li>
          <p class="text-xs text-white">Lorem, ipsum dolor.</p>
          <p class="text-white"><span class="text-lg">22</span> L/min</p>
        </li>
        <li>
          <p class="text-xs text-white">Lorem, ipsum dolor.</p>
          <p class="text-white"><span class="text-lg">22</span> L/min</p>
        </li>
        
      </ul>
    </div>

    <div id="agri-application-list-container" class="w-full h-dvh p-8 lg:p-16 bg-white">
      <ul id="agri-application-list" class="mx-auto text-center grid lg:grid-cols-2 gap-4 lg:w-9/12 lg:h-3/4">
        <li class="flex lg:relative justify-center items-start rounded-sm">
          <img src="{% static 'core/img/drone-white.jpg' %}" alt="" class="lg:absolute top-0 left-0 lg:w-full lg:h-full h-28 w-44"/>
          <div class="flex flex-col p-2 text-start lg:mt-12 lg:text-center z-[1]">
            <h5 class="text-sm">Lorem, ipsum dolor.</h5>
            <div class="flex flex-col lg:flex-row">

                <p class="text-xs">Lorem, ipsum.</p>
                <p class="text-xs">Lorem, ipsum.</p>
                <p class="text-xs">Lorem, ipsum.</p>
            </div>
          </div>
        </li>
        <li class="flex lg:relative justify-center items-start">
          <img src="{% static 'core/img/drone-white.jpg' %}" alt="" class="lg:absolute top-0 left-0 lg:w-full lg:h-full h-28 w-44"/>
          <div class="flex flex-col p-2 text-start lg:mt-12 lg:text-center z-[1]">
            <h5 class="text-sm">Lorem, ipsum dolor.</h5>
            <div class="flex flex-col lg:flex-row">

                <p class="text-xs">Lorem, ipsum.</p>
                <p class="text-xs">Lorem, ipsum.</p>
                <p class="text-xs">Lorem, ipsum.</p>
            </div>
          </div>
        </li>
        <li class="flex lg:relative justify-center items-start">
          <img src="{% static 'core/img/drone-white.jpg' %}" alt="" class="lg:absolute top-0 left-0 lg:w-full lg:h-full h-28 w-44"/>
          <div class="flex flex-col p-2 text-start lg:mt-12 lg:text-center z-[1]">
            <h5 class="text-sm">Lorem, ipsum dolor.</h5>
            <div class="flex flex-col lg:flex-row">

                <p class="text-xs">Lorem, ipsum.</p>
                <p class="text-xs">Lorem, ipsum.</p>
                <p class="text-xs">Lorem, ipsum.</p>
            </div>
          </div>
        </li>
        <li class="flex lg:relative justify-center items-start">
          <img src="{% static 'core/img/drone-white.jpg' %}" alt="" class="lg:absolute top-0 left-0 lg:w-full lg:h-full h-28 w-44"/>
          <div class="flex flex-col p-2 text-start lg:mt-12 lg:text-center z-[1]">
            <h5 class="text-sm">Lorem, ipsum dolor.</h5>
            <div class="flex flex-col lg:flex-row">

                <p class="text-xs">Lorem, ipsum.</p>
                <p class="text-xs">Lorem, ipsum.</p>
                <p class="text-xs">Lorem, ipsum.</p>
            </div>
          </div>
        </li>
        <!-- <li class="flex">
          <img src="{% static 'core/img/drone-white.jpg' %}" alt="" class="h-28 w-44"/>
          <div class="flex flex-col p-2 text-start">
            <h5 class="text-sm">Lorem, ipsum dolor.</h5>
            <p class="text-xs">Lorem, ipsum.</p>
            <p class="text-xs">Lorem, ipsum.</p>
            <p class="text-xs">Lorem, ipsum.</p>
          </div>
        </li>
        <li class="flex">
          <img src="{% static 'core/img/drone-white.jpg' %}" alt="" class="h-28 w-44"/>
          <div class="flex flex-col p-2 text-start">
            <h5 class="text-sm">Lorem, ipsum dolor.</h5>
            <p class="text-xs">Lorem, ipsum.</p>
            <p class="text-xs">Lorem, ipsum.</p>
            <p class="text-xs">Lorem, ipsum.</p>
          </div>
        </li>
        <li class="flex">
          <img src="{% static 'core/img/drone-white.jpg' %}" alt="" class="h-28 w-44"/>
          <div class="flex flex-col p-2 text-start">
            <h5 class="text-sm">Lorem, ipsum dolor.</h5>
            <p class="text-xs">Lorem, ipsum.</p>
            <p class="text-xs">Lorem, ipsum.</p>
            <p class="text-xs">Lorem, ipsum.</p>
          </div>
        </li> -->
        
      </ul>

      <div class="feature-popup-btn pt-10 text-right">
        <a href="">
          <p>Lorem ipsum dolor sit. <span>arrow</span></p>
        </a>
      </div>
      <div
        class="feature-popup hidden w-full z-50 bg-black fixed top-0 left-0 p-16 overflow-y-auto"
      >
        <div class="popup-close-btn">icon</div>
        <div class="space-y-6 h-96 overflow-auto">
          <img
            src="{% static 'core/img/drone-white.jpg' %}"
            alt=""
            class="h-80 w-full object-cover"
          />
          <img
            src="{% static 'core/img/drone-white.jpg' %}"
            alt=""
            class="h-80 w-full object-cover"
          />
          <img
            src="{% static 'core/img/drone-white.jpg' %}"
            alt=""
            class="h-80 w-full object-cover"
          />
        </div>
      </div>
    </div>

    <div id="agri-speed-feature-container" class="px-8 py-12 text-white flex flex-col justify-between">
        <div class="flex flex-col gap-2">
          <h6 class="text-sm font-normal">Lorem, ipsum.</h6>
          <p class="text-xs text-white">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
            explicabo tenetur necessitatibus!
          </p>
          <h class="text-xl">Lorem ipsum dolor sit amet consectetur adipisicing.</h3>
          <p class="text-xs text-white">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas dolor
            eius nihil magni, magnam suscipit.
          </p>
        </div>
  
        <ul id="agri-speed-feature-list" class="grid grid-cols-2 gap-2 text-white">
          <li class="">
            <p class="text-xs text-white">Lorem, ipsum dolor.</p>
            <p class="text-white"><span class="text-lg">22</span> L/min</p>
          </li>
          <li>
            <p class="text-xs text-white">Lorem, ipsum dolor.</p>
            <p class="text-white"><span class="text-lg">22</span> L/min</p>
          </li>
          <li>
            <p class="text-xs text-white">Lorem, ipsum dolor.</p>
            <p class="text-white"><span class="text-lg">22</span> L/min</p>
          </li>
          <li>
            <p class="text-xs text-white">Lorem, ipsum dolor.</p>
            <p class="text-white"><span class="text-lg">22</span> L/min</p>
          </li>
          
        </ul>
    </div>


    <div id="agri-more-features-container" class="px-8 py-12 grid gap-8 ">
        <div class="space-y-4 text-center">

            <h3 class="text-white text-xl">Lorem ipsum dolor sit.</h3>
            <h2 class="text-yellow-500 text-2xl">Lorem, ipsum.</h2>
        </div>

      <p class="text-center">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias,
        doloribus dolorem ut optio perferendis harum in cupiditate id neque
        explicabo!
      </p>

      <div class="flex w-full gap-2 text-center">
        <div class="w-1/2">
          <img src="{% static 'core/img/drone-white.jpg' %}" alt="" class="w-full h-full object-cover"/>
          <p class="text-white text-xs">Lorem, ipsum.</p>
        </div>
        <div class="w-1/2">
          <img src="{% static 'core/img/drone-white.jpg' %}" alt="" class="w-full h-full object-cover"/>
          <p class="text-white text-xs">Lorem, ipsum.</p>
        </div>
        
      </div>

      <ul id="agri-more-features-list" class="flex flex-col gap-10">
        <h4 class="text-white text-base py-6">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas,
          officia.
        </h4>

        <li class="text-white space-y-3">
          <h6 class="text-sm">Lorem ipsum dolor sit.</h6>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam
            doloremque reiciendis quasi quo quae? Nihil numquam autem
            consectetur consequuntur esse!
          </p>
          <img src="{% static 'core/img/drone-white.jpg' %}" alt="" />
        </li>
        <li class="text-white space-y-3 ">
          <h6 class="text-sm">Lorem ipsum dolor sit.</h6>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam
            doloremque reiciendis quasi quo quae? Nihil numquam autem
            consectetur consequuntur esse!
          </p>
          <img src="{% static 'core/img/drone-white.jpg' %}" alt="" />
        </li>
        <li class="text-white space-y-3 ">
          <h6 class="text-sm">Lorem ipsum dolor sit.</h6>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam
            doloremque reiciendis quasi quo quae? Nihil numquam autem
            consectetur consequuntur esse!
          </p>
          <img src="{% static 'core/img/drone-white.jpg' %}" alt="" />
        </li>
        
      </ul>
      <div class="grid grid-cols-2 h-80 w-full gap-2">
        <img src="{% static 'core/img/drone-white.jpg' %}" alt="" class="h-full w-full object-cover rounded-md">
        <img src="{% static 'core/img/drone-white.jpg' %}" alt="" class="h-full w-full object-cover rounded-md">
        <img src="{% static 'core/img/drone-white.jpg' %}" alt="" class="h-full w-full object-cover rounded-md">
        <img src="{% static 'core/img/drone-white.jpg' %}" alt="" class="h-full w-full object-cover rounded-md">
      </div>
      <h6 class="text-white text-lg text-center">Lorem ipsum dolor sit.</h6>
      <div class="feature-popup-btn pt-10 text-right">
        <a href="">
          <p>Lorem ipsum dolor sit. <span>arrow</span></p>
        </a>
      </div>
      <div
        class="feature-popup hidden w-full z-50 bg-black fixed top-0 left-0 p-16 overflow-y-auto"
      >
        <div class="popup-close-btn">icon</div>
        <div class="space-y-6 h-96 overflow-auto">
          <img
            src="{% static 'core/img/drone-white.jpg' %}"
            alt=""
            class="h-80 w-full object-cover"
          />
          <img
            src="{% static 'core/img/drone-white.jpg' %}"
            alt=""
            class="h-80 w-full object-cover"
          />
          <img
            src="{% static 'core/img/drone-white.jpg' %}"
            alt=""
            class="h-80 w-full object-cover"
          />
        </div>
      </div>
    </div>
    <div id="" class="bg-white">
        <div id="agri-mapping-feature-container" class=" py-12 px-8 text-white flex flex-col justify-between">
            <div class="">

                <h6>Lorem, ipsum.</h6>
                <h3>Lorem ipsum dolor sit amet consectetur adipisicing.</h3>
                <h3>Lorem, ipsum dolor.</h3>
            </div>
            <ul id="agri-mapping-feature-list" class="grid">
              <li><p class="text-sm">Lorem, ipsum dolor.</p></li>
              <li><p class="text-sm">Lorem, ipsum dolor.</p></li>
              <li><p class="text-sm">Lorem, ipsum dolor.</p></li>
            </ul>
        </div>
        <div class="text-black px-8 py-12 text-center space-y-3">
            <h3 class="text-yellow-500">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam quidem
              delectus aspernatur cupiditate nihil vero possimus et totam neque
              tenetur.
            </p>
            <img src="{% static 'core/img/drone-white.jpg' %}" alt=""  class="w-full h-1/3"/>
        </div>
    
        <div class="feature-popup-btn px-8 py-12 text-right">
            <a href="">
              <p>Lorem ipsum dolor sit. <span>arrow</span></p>
            </a>
          </div>
          <div
            class="feature-popup hidden w-full z-50 bg-black fixed top-0 left-0 p-16 overflow-y-auto"
          >
            <div class="popup-close-btn">icon</div>
            <div class="space-y-6 h-96 overflow-auto">
              <img
                src="{% static 'core/img/drone-white.jpg' %}"
                alt=""
                class="h-80 w-full object-cover"
              />
              <img
                src="{% static 'core/img/drone-white.jpg' %}"
                alt=""
                class="h-80 w-full object-cover"
              />
              <img
                src="{% static 'core/img/drone-white.jpg' %}"
                alt=""
                class="h-80 w-full object-cover"
              />
            </div>
          </div>
    </div>
    

    <div
      id="image-slider"
      class="splide max-w-full min-h-96 m-auto"
      aria-label="Splide Basic HTML Example"
      data-aos="zoom-in"
    >
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide">
            <img
              class=""
              src="{% static 'core/img/drone-white.jpg' %}"
              alt="Image 1"
            />
          </li>
          <li class="splide__slide">
            <img
              class="h-full"
              src="{% static 'core/img/sri_muktsar_sahib_popup.png' %}"
              alt="Image 2"
            />
          </li>
          <li class="splide__slide">
            <img
              class=""
              src="{% static 'core/img/drone-white.jpg' %}"
              alt="Image 3"
            />
          </li>
          <!-- Add more slides as needed -->
        </ul>
      </div>
    </div>

    <div id="agri-banners-container">
      <div class="">
        <p>Lorem ipsum dolor sit.</p>
        <h3>Lorem ipsum dolor sit amet.</h3>
      </div>
      <div class="">
        <p>Lorem ipsum dolor sit.</p>
        <h3>Lorem ipsum dolor sit amet.</h3>
      </div>
      <div class="">
        <div class="">
          <h6>Lorem, ipsum.</h6>
          <h3>Lorem ipsum dolor sit amet consectetur.</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
            explicabo tenetur necessitatibus!
          </p>
        </div>
        <img src="" alt="" />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab facilis
          nesciunt debitis ut, perspiciatis distinctio ducimus nam!
        </p>
      </div>
      <img src="" alt="" />
      <div class="">
        <img src="" alt="" />
      </div>
      <div class="feature-popup-btn">
        <a href="">
          <p>Lorem ipsum dolor sit. <span>arrow</span></p>
        </a>
      </div>
      <div class="feature-popup">
        <div class="popup-close-btn">icon</div>
        <img src="" alt="" />
        <img src="" alt="" />
        <img src="" alt="" />
      </div>
    </div>
    <div class="">
      <img src="" alt="" />
      <div class="feature-popup-btn">
        <a href="">
          <p>Lorem ipsum dolor sit. <span>arrow</span></p>
        </a>
      </div>
      <div class="feature-popup">
        <div class="popup-close-btn">icon</div>
        <img src="" alt="" />
        <img src="" alt="" />
        <img src="" alt="" />
      </div>
    </div>
  </section>
</main>

{% endblock body %}
{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>
<script>
    
function setupScrollTriggerAnimation() {
    if (window.innerWidth >= 1024) { // Change 1024 to your desired screen width
        gsap.registerPlugin(ScrollTrigger);

        gsap.utils.toArray(".panel").forEach((panel, i) => {
            ScrollTrigger.create({
                trigger: panel,
                start: "top top",
                end: "+=500",
                pin: true,
                pinSpacing: false,
                scrub: 1
            });
        });

        gsap.to(".scale-up-video", {
            scrollTrigger: {
                trigger: ".scale-up-video",
                start: "top 50%",
                toggleActions: "play none reverse none",
            },
            scale: 1, // Final scale value
            duration: 1
        });

    }
}

setupScrollTriggerAnimation();
window.addEventListener('resize', function() {
    setupScrollTriggerAnimation();
});

</script>

{% endblock javascript %}
