{% extends 'base.html' %} 
{% load static i18n %}
{% load static %}
{% block bodyclass %}agri-drone-page{% endblock bodyclass %}
{% block body %}


<main class="bg-black w-full">
  <section id="drone-hero-section" class="w-full">
    <div class="">

    <div id="agri-hero-1" class="panel relative w-full">
      <div class="relative w-full h-full">

        <div
        id="hero-1-content"
        class="w-8/10 h-full absolute top-1/3 xl:top-1/4 left-1/2 mx-auto text-black flex flex-col"
      >
        <h3 class="text-3xl">{% trans "FIELD FALCON AGRICULTURE DRONE" %}</h3>
        <h4 class="text-5xl font-normal">{% trans "The future of farming." %}</h4>
      </div>
    </div>

    </div>
    <div class="panel hidden lg:block">

        <div class="w-full h-lvh relative">
            <video src="{% static 'core/Drone_Clip.mp4' %}" autoplay muted loop class="absolute top-0 left-0 -z-10 object-cover h-full w-full"></video>
            
        </div>
        
    </div>
    <div class="mx-auto h-[90vh] hidden lg:grid place-content-center z-50 text-white">
        <ul class="flex flex-col h-1/4 justify-center items-center gap-4">
            <li class="auto-blur text-bold">aksdjfkw</li>
            <li class="auto-blur text-bold">asgw</li>
            <li class="auto-blur text-bold">zsdgWe</li>
            <li class="auto-blur text-bold">sedfsef</li>
        </ul>
    </div>
</div>

    
    
    <div id="agri-hero-2" class="lg:hidden w-full">
      <div id="hero-2-content" class="mx-auto">
        <ul class="flex flex-col items-center">
          <li><p>Lorem, ipsum dolor.</p></li>
          <li><p>Lorem, ipsum dolor.</p></li>
          <li><p>Lorem, ipsum dolor.</p></li>
          <li><p>Lorem, ipsum dolor.</p></li>
        </ul>
      </div>
    </div>
  </section>
    <div class="w-full lg:h-[90vh] bg-white lg:grid lg:place-content-center lg:pt-44">
        <div id="agri-drone-video" class="overflow-hidden lg:rounded-lg h-[27vh] lg:h-full w-full lg:w-2/3  mx-auto relative">
            <div class="play-btn"></div>
            <video
            id="drone-video"
            src="{% static 'core/Drone_clip.mp4' %}"
            loop
            controls="nodownload"
            class=""
            ></video>
            
            <!-- <iframe height="520px" width="734px" class="absolute top-1/2 left-1/2" src="https://www.youtube.com/embed/gZaBwdru_bk"  frameborder="0" allow="accelerometer; autoplay; encrypted-media; picture-in-picture" allowfullscreen ></iframe> -->
        </div>
    </div>

  <section id="agri-drone-features">
    <div id="agri-flow-cards-container" class="lg:h-[90vh] py-16 w-full flex flex-col items-center justify-center gap-4 bg-white">
        <div class="flex flex-col lg:flex-row justify-center gap-6 w-10/12 lg:w-9/12 mx-auto">

            <div
            class="p-6 lg:p-10 bg-gray-300 lg:w-[40%] w-full mx-auto rounded-md flex flex-col gap-3"
            >
                <h6 class="text-xl lg:text-2xl ">Max Flow Rate</h6>
                <div class="">

                    <p class="text-base">Lorem ipsum dolor sit. <span>lorem</span></p>
                    <div class="flex gap-3 items-center">
                        
                        <span class="progress-bar-accent text-right h-2 w-9/12 bg-gradient-to-r from-white to-yellow-500 rounded-lg"></span><span class="-mr-10 -mt10 text-yellow-500"><span class=" text-2xl">1.2 </span>x</span>
                    </div>
                </div>
                <p>Lorem, ipsum dolor. <span>lorem</span></p>
                <div class="flex gap-3 items-center">

                    <span class="progress-bar-gray  text-right h-2 w-1/2 bg-slate-300 rounded-lg"></span>
                </div>
                <div class="divider bg-gray-600 w-11/12 border-gray-600 border border-bottom my-12"></div>
                <h6 class="text-xl lg:text-2xl italic">Lorem <span class="text-yellow-500"> ipsum dolor sit amet.</span></h6>
                <div class="flex flex-col gap-4">
                    <p>Open Field <span class="mx-4"> | </span><span class="text-yellow-500"><span class="text-3xl">19 </span>ha/hr</span></p>
                    <p>Open Field <span class="mx-4"> | </span><span class="text-yellow-500"><span class="text-3xl">19 </span>ha/hr</span></p>
                </div>
            </div>
            <div
            class="p-6 lg:p-10 bg-gray-300 lg:w-[40%] w-full  mx-auto rounded-md flex flex-col gap-3"
            >
                <h6 class="text-xl lg:text-2xl">Max Flow Rate</h6>
                <div class="">

                    <p class="text-base">Lorem ipsum dolor sit. <span>lorem</span></p>
                    <div class="flex gap-3 items-center">
                        
                        <span class="progress-bar-accent  text-right h-2 w-9/12 bg-gradient-to-r from-white to-yellow-500 rounded-lg"></span><span class="-mr-10 -mt10 text-yellow-500"><span class=" text-2xl">1.2 </span>x</span>
                    </div>
                </div>
                <p>Lorem, ipsum dolor. <span>lorem</span></p>
                <div class="flex gap-3 items-center">

                    <span class="progress-bar-gray  text-right h-2 w-1/2 bg-slate-300 rounded-lg"></span>
                </div>
                <div class="divider bg-gray-600 w-11/12 border-gray-600 border border-bottom my-12"></div>
                <h6 class="text-xl lg:text-2xl italic">Lorem <span class="text-yellow-500"> ipsum dolor sit amet.</span></h6>
                <div class="flex flex-col gap-4">
                    <p>Open Field <span class="mx-4"> | </span><span class="text-yellow-500"><span class="text-3xl">19 </span>ha/hr</span></p>
                    <p>Open Field <span class="mx-4"> | </span><span class="text-yellow-500"><span class="text-3xl">19 </span>ha/hr</span></p>
                </div>
            </div>    
        </div>
        <p class="mx-auto text-center text-xs leading-[1.2]">
            Lorem ipsum dolor sit amet consectetur adipisicing.
        </p>
    </div>

    <div id="agri-payload-container-m" class="lg:hidden px-8 py-12 flex flex-col gap-6">
      <p>Lorem ipsum dolor sit amet.</p>
      <h2 class="text-white">Lorem ipsum dolor sit amet consectetur.</h2>
      <div class="space-y-1">
        <img
          src="{% static 'core/img/drone-white.jpg' %}"
          alt="drone-unfolded"
        />
        <h3 class="text-white">Lorem, ipsum.</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, illo.
        </p>
      </div>
      <div class="space-y-1">
        <img
          src="{% static 'core/img/drone-white.jpg' %}"
          alt="drone-unfolded"
        />
        <h3 class="text-white">Lorem, ipsum.</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, illo.
        </p>
      </div>

      
    </div>

    <div class="w-full spray-banner flex items-center">
        <div class="space-y-6 w-8/12 text-white mx-auto">
            <h6 class="text-sm">Lorem, ipsum.</h6>
            <p>Lorem ipsum dolor sit amet consectetur <br>
            adipisicing elit. Neque laboriosam eum voluptas.</p>
            <h3 class="text-3xl">Lorem ipsum dolor sit amet.</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut unde nisi reprehenderit voluptatum <br>
            architecto dolor, obcaecati ut nam eaque dicta.</p>
        </div>
    </div>

    <div class="w-full h-svh hidden relative lg:block">

        <div class="scale-up-video absolute scale-50 w-full h-full grid overflow-hidden">
            <video src="{% static 'core/Drone_Clip.mp4' %}" autoplay loop muted class="object-cover h-auto w-full"></video>
            
        </div>
        <div class="spray-video-content absolute bottom-24 left-0 w-full mx-auto opacity-0 transition-all delay-500 duration-300 ease-in z-[1]" >
            <ul class="flex justify-between w-8/12 mx-auto">
                <li>
                    <p class="text-white">Max. Flow Rate</p>
                    <p class="text-white"><span>22</span> L/min</p>
                </li>
                <li>
                    <p class="text-white">Max. Flow Rate</p>
                    <p class="text-white"><span>22</span> L/min</p>
                </li>
                <li>
                    <p class="text-white">Max. Flow Rate</p>
                    <p class="text-white"><span>22</span> L/min</p>
                </li>
                <li>
                    <p class="text-white">Max. Flow Rate</p>
                    <p class="text-white"><span>22</span> L/min</p>
                </li>
            </ul>
        </div>
    </div>

    <div id="agri-spray-feature-container" class="px-8 py-12 text-white flex flex-col justify-between">
      <div class="flex flex-col gap-2 lg:w-10/12 mx-auto">
        <h6 class="text-sm font-normal">Lorem, ipsum.</h6>
        <p class="text-xs text-white">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
          explicabo tenetur necessitatibus!
        </p>
        <h class="text-xl">Lorem ipsum dolor sit amet consectetur adipisicing.</h3>
        <p class="text-xs text-white">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas dolor
          eius nihil magni, magnam suscipit.
        </p>
      </div>

      <ul id="agri-spray-feature-list" class="grid grid-cols-2 gap-2 text-white lg:w-10/12 mx-auto">
        <li class="">
          <p class="text-xs text-white">Lorem, ipsum dolor.</p>
          <p class="text-white"><span class="text-lg">22</span> L/min</p>
        </li>
        <li>
          <p class="text-xs text-white">Lorem, ipsum dolor.</p>
          <p class="text-white"><span class="text-lg">22</span> L/min</p>
        </li>
        <li>
          <p class="text-xs text-white">Lorem, ipsum dolor.</p>
          <p class="text-white"><span class="text-lg">22</span> L/min</p>
        </li>
        <li>
          <p class="text-xs text-white">Lorem, ipsum dolor.</p>
          <p class="text-white"><span class="text-lg">22</span> L/min</p>
        </li>
        
      </ul>
    </div>

    <div id="agri-application-list-container" class="w-full lg:h-dvh p-8 lg:p-16 bg-white">
      <ul id="agri-application-list" class="mx-auto text-center grid lg:grid-cols-2 gap-4 lg:w-8/12 lg:h-[75vh] max-w">
        <li class="flex lg:relative justify-center items-start rounded-sm">
          <img src="{% static 'core/img/drone-white.jpg' %}" alt="" class="lg:absolute top-0 left-0 lg:w-full lg:h-full h-28 w-44"/>
          <div class="flex flex-col p-2 text-start lg:mt-12 lg:text-center z-[1]">
            <h5 class="text-sm">Lorem, ipsum dolor.</h5>
            <div class="flex flex-col lg:flex-row">

                <p class="text-xs">Lorem, ipsum.</p>
                <p class="text-xs">Lorem, ipsum.</p>
                <p class="text-xs">Lorem, ipsum.</p>
            </div>
          </div>
        </li>
        <li class="flex lg:relative justify-center items-start">
          <img src="{% static 'core/img/drone-white.jpg' %}" alt="" class="lg:absolute top-0 left-0 lg:w-full lg:h-full h-28 w-44"/>
          <div class="flex flex-col p-2 text-start lg:mt-12 lg:text-center z-[1]">
            <h5 class="text-sm">Lorem, ipsum dolor.</h5>
            <div class="flex flex-col lg:flex-row">

                <p class="text-xs">Lorem, ipsum.</p>
                <p class="text-xs">Lorem, ipsum.</p>
                <p class="text-xs">Lorem, ipsum.</p>
            </div>
          </div>
        </li>
        <li class="flex lg:relative justify-center items-start">
          <img src="{% static 'core/img/drone-white.jpg' %}" alt="" class="lg:absolute top-0 left-0 lg:w-full lg:h-full h-28 w-44"/>
          <div class="flex flex-col p-2 text-start lg:mt-12 lg:text-center z-[1]">
            <h5 class="text-sm">Lorem, ipsum dolor.</h5>
            <div class="flex flex-col lg:flex-row">

                <p class="text-xs">Lorem, ipsum.</p>
                <p class="text-xs">Lorem, ipsum.</p>
                <p class="text-xs">Lorem, ipsum.</p>
            </div>
          </div>
        </li>
        <li class="flex lg:relative justify-center items-start">
          <img src="{% static 'core/img/drone-white.jpg' %}" alt="" class="lg:absolute top-0 left-0 lg:w-full lg:h-full h-28 w-44"/>
          <div class="flex flex-col p-2 text-start lg:mt-12 lg:text-center z-[1]">
            <h5 class="text-sm">Lorem, ipsum dolor.</h5>
            <div class="flex flex-col lg:flex-row">

                <p class="text-xs">Lorem, ipsum.</p>
                <p class="text-xs">Lorem, ipsum.</p>
                <p class="text-xs">Lorem, ipsum.</p>
            </div>
          </div>
        </li>
      </ul>

    </div>

    <div id="agri-speed-feature-container" class="px-8 py-12 text-white lg:hidden flex flex-col justify-between">
        <div class="flex flex-col gap-2">
          <h6 class="text-sm font-normal">Lorem, ipsum.</h6>
          <p class="text-xs text-white">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
            explicabo tenetur necessitatibus!
          </p>
          <h class="text-xl">Lorem ipsum dolor sit amet consectetur adipisicing.</h3>
          <p class="text-xs text-white">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas dolor
            eius nihil magni, magnam suscipit.
          </p>
        </div>
  
        <ul id="agri-speed-feature-list" class="grid grid-cols-2 gap-2 text-white">
          <li class="">
            <p class="text-xs text-white">Lorem, ipsum dolor.</p>
            <p class="text-white"><span class="text-lg">22</span> L/min</p>
          </li>
          <li>
            <p class="text-xs text-white">Lorem, ipsum dolor.</p>
            <p class="text-white"><span class="text-lg">22</span> L/min</p>
          </li>
          <li>
            <p class="text-xs text-white">Lorem, ipsum dolor.</p>
            <p class="text-white"><span class="text-lg">22</span> L/min</p>
          </li>
          <li>
            <p class="text-xs text-white">Lorem, ipsum dolor.</p>
            <p class="text-white"><span class="text-lg">22</span> L/min</p>
          </li>
          
        </ul>
    </div>
    <div class="">

        <div class="hidden lg:flex h-lvh w-9/12 mx-auto items-center justify-between gap-8">
            <div class="w-1/2">
                <p class="text-xl text-white">Lorem, ipsum.</p>
                <h2 class="text-7xl text-white">Spread a bag of fertilizer in just 20 seconds.</h2>
            </div>
            <div class="space-y-8 w-1/2">
                <p class="text-xl text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil libero iusto dolorum dolore ut sunt atque modi mollitia voluptatem dolor! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis.</p>
                <div class="space-y-3">
                    <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <h3 class="text-yellow-500 text-5xl">Lorem ipsum dolor sit.</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                </div>
            </div>
        </div>

        <div class="w-full h-[94vh] hidden relative lg:block">
            
            <div class="scale-up-video absolute w-full h-full scale-50 grid overflow-hidden">
            <video src="{% static 'core/Drone_Clip.mp4' %}" autoplay loop muted class="object-cover h-full w-full"></video>
            
            </div>
            <div class="spray-video-content absolute bottom-24 left-0 w-full mx-auto opacity-0 transition-all delay-500 duration-300 ease-in z-[1]" >
                <ul class="flex justify-between w-8/12 mx-auto">
                    <li>
                        <p class="text-white">Max. Flow Rate</p>
                        <p class="text-white"><span>22</span> L/min</p>
                    </li>
                    <li>
                        <p class="text-white">Max. Flow Rate</p>
                        <p class="text-white"><span>22</span> L/min</p>
                    </li>
                    <li>
                        <p class="text-white">Max. Flow Rate</p>
                        <p class="text-white"><span>22</span> L/min</p>
                    </li>
                    <li>
                        <p class="text-white">Max. Flow Rate</p>
                        <p class="text-white"><span>22</span> L/min</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <div id="agri-more-features-container" class=" w-full">
        <div class="px-8 py-12 grid gap-8 h-full w-full">

            <div class=" text-center lg:h-[75vh] flex flex-col lg:gap-8 gap-4 justify-center">
                
                <h3 class="text-white lg:text-3xl text-2xl">What else besides efficient?</h3>
                <h2 class="text-yellow-500 lg:text-5xl text-3xl font-semibold">Highly Precision</h2>
            </div>
        
        
            <div class="flex lg:flex-row flex-col gap-4 lg:h-[75vh] lg:w-9/12 mx-auto items-center" data-aos="fade-in" >
            

            <p class="text-start lg:text-xl lg:w-1/3">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias,
                doloribus dolorem ut optio perferendis harum in cupiditate id neque
                explicabo!
            </p>

            <div class="flex w-full gap-2 text-center">
                <div class="w-1/2">
                    <img src="{% static 'core/img/drone-white.jpg' %}" alt="" class="w-full h-full object-cover"/>
                    <p class="text-white text-xs">Lorem, ipsum.</p>
                </div>
                <div class="w-1/2">
                    <img src="{% static 'core/img/drone-white.jpg' %}" alt="" class="w-full h-full object-cover"/>
                    <p class="text-white text-xs">Lorem, ipsum.</p>
                </div>
            </div>
            
            </div>
        </div>

      

      <div class="agri-more-feature-list flex flex-col lg:w-8/12 w-10/12 lg:gap-16 gap-8 mx-auto mt-12">
        <h3 class="text-white lg:text-2xl text-base font-semibold">How to balance efficiency and precision? <br>
            We address this issue through 3 aspects:
        </h3>

        <ul id="agri-more-feature-list-m" class="flex lg:hidden flex-col gap-10">
    
            <li class="text-white space-y-3">
              <h6 class="text-sm">Lorem ipsum dolor sit.</h6>
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam
                doloremque reiciendis quasi quo quae? Nihil numquam autem
                consectetur consequuntur esse!
              </p>
              <img src="{% static 'core/img/drone-white.jpg' %}" alt="" />
            </li>
            <li class="text-white space-y-3 ">
              <h6 class="text-sm">Lorem ipsum dolor sit.</h6>
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam
                doloremque reiciendis quasi quo quae? Nihil numquam autem
                consectetur consequuntur esse!
              </p>
              <img src="{% static 'core/img/drone-white.jpg' %}" alt="" />
            </li>
            <li class="text-white space-y-3 ">
              <h6 class="text-sm">Lorem ipsum dolor sit.</h6>
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam
                doloremque reiciendis quasi quo quae? Nihil numquam autem
                consectetur consequuntur esse!
              </p>
              <img src="{% static 'core/img/drone-white.jpg' %}" alt="" />
            </li>
            
          </ul>

        <div class="hidden selector-container h-1/3 lg:flex w-full justify-between mx-auto my-8">
            <div class="selector-list border-l w-1/3">
              <div class="selector text-2xl active active:text-white" onclick="toggleContent(0)">Vertical spread from the air</div>
              <div class="selector-content pb-8 active" id="content-0">
                <p>Vertical centrifugal spreading discs provide fast vertically downward acceleration, strong wind resistant. Spread width precisely adjusts according to the flight height, blanket spreading without misses or overlaps.</p>
              </div>
              <div class="selector text-2xl active:text-white" onclick="toggleContent(1)">Variable-rate application</div>
              <div class="selector-content pb-8" id="content-1">
                <p>Intelligent screw feeder automatically adjusts the discharge speed according to the flight speed, spreading is more uniform.</p>
              </div>
              <div class="selector text-2xl active:text-white" onclick="toggleContent(2)">Real-time volume sensing</div>
              <div class="selector-content pb-8" id="content-2">
                <p>Intelligent container adopts non-contact volume sensor to detect level of remaining granules in real time. Resistant to corrosion and adhesion, more precise and reliable. Screw feeder idling and misses are prevented.</p>
              </div>
            </div>
            
            <div class="w-1/2">
              <img src="{% static 'core/img/drone-white.jpg' %}" alt="Image 1" class="selector-image active h-full w-full object-cover" id="image-0">
              <img src="{% static 'core/img/cloud-bg.jpg' %}" alt="Image 2" class="selector-image  h-full w-full object-cover" id="image-1">
              <img src="{% static 'core/img/drone-white.jpg' %}" alt="Image 3" class="selector-image h-full w-full object-cover" id="image-2">
            </div>
        </div>
        
        <div class="my-16">

            <ul class="grid grid-cols-2 lg:grid-cols-4 w-full gap-1">
                <li class="rounded-md overflow-hidden"><img src="{% static 'core/img/drone-white.jpg' %}" alt="" class="size-48 lg:size-72 object-cover"></li>
                <li class="rounded-md overflow-hidden"><img src="{% static 'core/img/drone-white.jpg' %}" alt="" class="size-48 lg:size-72 object-cover"></li>
                <li class="rounded-md overflow-hidden"><img src="{% static 'core/img/drone-white.jpg' %}" alt="" class="size-48 lg:size-72 object-cover"></li>
                <li class="rounded-md overflow-hidden"><img src="{% static 'core/img/drone-white.jpg' %}" alt="" class="size-48 lg:size-72 object-cover"></li>
                
                
            </ul>
            <div class="flex flex-col lg:flex-row justify-between mt-4 gap-8 text-center lg:text-start">
                <span class="text-white">Don't worry, they all pour smoothly!</span>
                <a href="#" class="text-white text-end text-sm lg:text-base lg:w-1/3 mx-auto">Learn more about how RevoCast 3 is
                    adaptable to different fertilizers. <span>arrow</span>
                </a>
            </div>
        </div>
      </div>

      
    </div>
    <div class="h-[80vh] hidden lg:block w-full">
        <img src="https://static.xag.cn/img/product2022/p100-pro/feature-ruitu-top-img.png" alt="" class="object-cover w-full h-full">
    </div>
    <div class="bg-white py-12">
        <div class="lg:w-8/12 w-10/12 mx-auto py-10">
            <div class="heading">
                <h6>XAG RealTerra 2</h6>
                <h3 class="text-3xl lg:text-5xl">Need farmland and orchard mapping? Take it easy.</h3>
            </div>

            <div class="app-slider">
                <div class="hidden selector-container lg:flex h-1/3 w-full justify-between mx-auto my-8">
                    <div class="selector-list-1 border-l w-1/3">
                      <div class="selector1 text-2xl active active:text-black" onclick="toggleContent1(0)">Vertical spread from the air</div>
                      <div class="selector-content1 active pb-8" id="content-0">
                        <p>Vertical centrifugal spreading discs provide fast vertically downward acceleration, strong wind resistant. Spread width precisely adjusts according to the flight height, blanket spreading without misses or overlaps.</p>
                      </div>
                      <div class="selector1 text-2xl active:text-white" onclick="toggleContent1(1)">Variable-rate application</div>
                      <div class="selector-content1 pb-8" id="content-1">
                        <p>Intelligent screw feeder automatically adjusts the discharge speed according to the flight speed, spreading is more uniform.</p>
                      </div>
                      <div class="selector1 text-2xl active:text-white" onclick="toggleContent1(2)">Real-time volume sensing</div>
                      <div class="selector-content1 pb-8" id="content-2">
                        <p>Intelligent container adopts non-contact volume sensor to detect level of remaining granules in real time. Resistant to corrosion and adhesion, more precise and reliable. Screw feeder idling and misses are prevented.</p>
                      </div>
                    </div>
                    
                    <div class="w-1/2">
                      <img src="{% static 'core/img/drone-white.jpg' %}" alt="Image 1" class="selector-image1 active h-full w-full object-cover" id="image-3">
                      <img src="{% static 'core/img/cloud-bg.jpg' %}" alt="Image 2" class="selector-image1 h-full w-full object-cover" id="image-4">
                      <img src="{% static 'core/img/drone-white.jpg' %}" alt="Image 3" class="selector-image1 h-full w-full object-cover" id="image-5">
                    </div>
                </div>
            </div>

        </div>
        <div class="w-10/12 mx-auto text-center space-y-4 my-10">
            <h5 class="text-xl lg:text-2xl text-yellow-500">Lorem ipsum dolor sit amet consectetur.</h5>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat eveniet totam, voluptatibus rem neque sunt!</p>
            <div class="h-80 lg:w-10/12 mx-auto rounded-md overflow-hidden">
                <img src="{% static 'core/img/cloud-bg.jpg' %}" alt="" class="object-cover w-full h-full">
            </div>
            
        </div>
    </div>
    <div class="app-slider2 h-svh w-9/12 mx-auto py-12">
        <div class="hidden selector-container align-middle h-full lg:flex w-full items-center justify-between mx-auto my-8">
            <div class="selector-list-2 border-l w-1/3">
              <div class="selector2 text-2xl active " onclick="toggleContent2(0)">Vertical spread from the air</div>
              <div class="selector-content2 active pb-8" id="content-0">
                <p>Vertical centrifugal spreading discs provide fast vertically downward acceleration, strong wind resistant. Spread width precisely adjusts according to the flight height, blanket spreading without misses or overlaps.</p>
              </div>
              <div class="selector2 text-2xl " onclick="toggleContent2(1)">Variable-rate application</div>
              <div class="selector-content2 pb-8" id="content-1">
                <p>Intelligent screw feeder automatically adjusts the discharge speed according to the flight speed, spreading is more uniform.</p>
              </div>
              <div class="selector2 text-2xl " onclick="toggleContent2(2)">Real-time volume sensing</div>
              <div class="selector-content2 pb-8" id="content-2">
                <p>Intelligent container adopts non-contact volume sensor to detect level of remaining granules in real time. Resistant to corrosion and adhesion, more precise and reliable. Screw feeder idling and misses are prevented.</p>
              </div>
            </div>
            
            <div class="w-1/2 h-full flex items-center justify-center overflow-hidden">
              <img height="400px"  src="https://static.xag.cn/img/product2022/p100-pro/en/nongfu-img2.png" alt="Image 0" class="selector-image2 active object-cover h-10/12" id="image-6">
              <img src="{% static 'core/img/cloud-bg.jpg' %}" alt="Image 1" class="selector-image2" id="image-7">
              <img src="{% static 'core/img/drone-white.jpg' %}" alt="Image 8" class="selector-image2" id="image-8">
            </div>
        </div>
    </div>
    <!-- <div class="w-full h-lvh agribanner bg-image-2 bg-image-1  relative overflow-hidden">
        <div class="h-full grid place-content-center">
            <h3 class="text-3xl text-white">Industry-leading fully autonomous flight</h3>
            <h2 class="text-7xl text-white">Seize the farming season day and night.</h2>
        </div>
    </div> -->

    <div id="" class="bg-white">
        <div id="agri-mapping-feature-container" class=" py-12 px-8 text-white flex flex-col justify-between">
            <div class="">
                <h6>Lorem, ipsum.</h6>
                <h3>Lorem ipsum dolor sit amet consectetur adipisicing.</h3>
                <h3>Lorem, ipsum dolor.</h3>
            </div>
            <ul id="agri-mapping-feature-list" class="grid">
              <li><p class="text-sm">Lorem, ipsum dolor.</p></li>
              <li><p class="text-sm">Lorem, ipsum dolor.</p></li>
              <li><p class="text-sm">Lorem, ipsum dolor.</p></li>
            </ul>
        </div>
        <div class="text-black px-8 py-12 text-center space-y-3">
            <h3 class="text-yellow-500">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam quidem
              delectus aspernatur cupiditate nihil vero possimus et totam neque
              tenetur.
            </p>
            <img src="{% static 'core/img/drone-white.jpg' %}" alt=""  class="w-full h-1/3"/>
        </div>
    
        
    </div>

  
    <div class=""></div>
    <div
      id="image-slider"
      class="splide max-w-full min-h-96 m-auto lg:hidden"
      aria-label="Splide Basic HTML Example"
      data-aos="zoom-in"
    >
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide">
            <img
              class=""
              src="{% static 'core/img/drone-white.jpg' %}"
              alt="Image 1"
            />
          </li>
          <li class="splide__slide">
            <img
              class="h-full"
              src="{% static 'core/img/sri_muktsar_sahib_popup.png' %}"
              alt="Image 2"
            />
          </li>
          <li class="splide__slide">
            <img
              class=""
              src="{% static 'core/img/drone-white.jpg' %}"
              alt="Image 3"
            />
          </li>
          <!-- Add more slides as needed -->
        </ul>
      </div>
    </div>

    <div id="agri-banners-container">
      <div class="">
        <p>Lorem ipsum dolor sit.</p>
        <h3>Lorem ipsum dolor sit amet.</h3>
      </div>
      <div class="">
        <p>Lorem ipsum dolor sit.</p>
        <h3>Lorem ipsum dolor sit amet.</h3>
      </div>
      <div class="">
        <div class="">
          <h6>Lorem, ipsum.</h6>
          <h3>Lorem ipsum dolor sit amet consectetur.</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
            explicabo tenetur necessitatibus!
          </p>
        </div>
        <img src="" alt="" />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab facilis
          nesciunt debitis ut, perspiciatis distinctio ducimus nam!
        </p>
      </div>
      <img src="" alt="" />
      <div class="">
        <img src="" alt="" />
      </div>
      
    </div>
    <div class="">
      <img src="" alt="" />
      
    </div>
  </section>
  <section class="contact-form" class="w-full h-full">
    <iframe class="mx-auto overflow-auto" src="https://docs.google.com/forms/d/e/1FAIpQLScixbNP2F95OTaB4qv7LHYhAxg51EHibVKH6nSCt8PeNbv6fA/viewform?embedded=true" width="948" height="1440" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
  </section>
</main>

{% endblock body %}
{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>
<script>
    
function setupScrollTriggerAnimation() {
    if (window.innerWidth >= 1024) { // Change 1024 to your desired screen width
        gsap.registerPlugin(ScrollTrigger);

        gsap.utils.toArray(".panel").forEach((panel, i) => {
            ScrollTrigger.create({
                trigger: panel,
                start: "bottom 100%",
                end: "bottom 0",
                scrub: true,
                pin: true,
                pinSpacing: false,
            });
        });

        gsap.utils.toArray(".scale-up-video").forEach((video, i) => {
            const containerToUnhide = video.nextElementSibling; // Assuming the container to unhide is the next sibling element
            gsap.to(video, {
                scrollTrigger: {
                    trigger: video,
                    start: "top 50%",
                    toggleActions: "play none reverse none",
                    onEnter: () => {
                        if (containerToUnhide) {
                            containerToUnhide.classList.add('opacity-100');
                            containerToUnhide.classList.remove('opacity-0');
                        }
                    },
                    onLeaveBack: () => {
                        if (containerToUnhide) {
                            containerToUnhide.classList.remove('opacity-100');
                            containerToUnhide.classList.add('opacity-0');
                        }
                    }
                },
                scale: 1, // Final scale value
                duration: 1
            });
        });
    }
}

setupScrollTriggerAnimation();
window.addEventListener('resize', function() {
    setupScrollTriggerAnimation();
});

function toggleContent(index) {
      var headers = document.querySelectorAll('.selector');
      var contents = document.querySelectorAll('.selector-content');
      var images = document.querySelectorAll('.selector-image');

      headers.forEach((header, i) => {
        if (i === index) {
          header.classList.add('active');
        } else {
          header.classList.remove('active');
        }
      });

      contents.forEach((content, i) => {
        if (i === index) {
          content.classList.add('active');
        } else {
          content.classList.remove('active');
        }
      });

      images.forEach((image, i) => {
        if (i === index) {
          image.classList.add('active');
        } else {
          image.classList.remove('active');
        }
      });
    }
function toggleContent1(index) {
      var headers = document.querySelectorAll('.selector1');
      var contents = document.querySelectorAll('.selector-content1');
      var images = document.querySelectorAll('.selector-image1');

      headers.forEach((header, i) => {
        if (i === index) {
          header.classList.add('active');
        } else {
          header.classList.remove('active');
        }
      });

      contents.forEach((content, i) => {
        if (i === index) {
          content.classList.add('active');
        } else {
          content.classList.remove('active');
        }
      });

      images.forEach((image, i) => {
        if (i === index) {
          image.classList.add('active');
        } else {
          image.classList.remove('active');
        }
      });
    }
function toggleContent2(index) {
      var headers = document.querySelectorAll('.selector2');
      var contents = document.querySelectorAll('.selector-content2');
      var images = document.querySelectorAll('.selector-image2');

      headers.forEach((header, i) => {
        if (i === index) {
          header.classList.add('active');
        } else {
          header.classList.remove('active');
        }
      });

      contents.forEach((content, i) => {
        if (i === index) {
          content.classList.add('active');
        } else {
          content.classList.remove('active');
        }
      });

      images.forEach((image, i) => {
        if (i === index) {
          image.classList.add('active');
        } else {
          image.classList.remove('active');
        }
      });
    }

    const agriBanner = document.querySelector('.agribanner');
const observer = new IntersectionObserver(entries => {
  entries.forEach(entry => {
    if (entry.isIntersecting) {
      agriBanner.classList.add('in-view');
    } else {
      agriBanner.classList.remove('in-view');
    }
  });
});

observer.observe(agriBanner);

</script>


{% endblock javascript %}
