<section
  id="counter-section"
  class="w-full"
  
>
  <div data-aos="fade-in" class="container mx-auto py-20 grid grid-cols-2 xl:grid-cols-4 gap-10 text-black font-semibold w-10/12">
    <div class="container border-b-2 px-3 space-y-3">
      <h1  class="xl:text-6xl md:text-5xl text-3xl value" tar="120"><span id="project-counter" class="value" tar="16">0</span>+</h1>
      <p class="text-sm font-normal">Projects Completed</p>
      <div class=""></div>
    </div>
    <div class="container border-b-2 px-3 space-y-3">
      <h1 class="xl:text-6xl md:text-5xl text-3xl "><span id="exp-counter" class="value" tar="16">0</span>+</h1>
      <p class="text-sm font-normal">Years of Experience</p>
      <div class=""></div>
    </div>
    <div class="container border-b-2 px-3 space-y-3">
      <h1 class="xl:text-6xl md:text-5xl text-3xl "><span id="client-counter" class="value" tar="46">0</span>+</h1>
      <p class="text-sm font-normal">Clients</p>
      <div class=""></div>
    </div>
    <div class="container border-b-2 px-3 space-y-3">
      <h1 class="xl:text-6xl md:text-5xl text-3xl "><span id="flying-time-counter" class="value" tar="100000">0</span>+</h1>
      <p class="text-sm font-normal">Cumulative Flight Time</p>
      <div class=""></div>
    </div>
  </div>
</section>
