{% extends 'base.html' %} {% load static i18n %} {% load static %}
<!-- {% load cache %} -->
{% block title %}Drone Anatomy - Leading Drone Solutions for Agriculture,
Surveillance, Payloads, and Aerial Mapping
{% endblock title %} 

{% block body %}
<!-- banner -->

<main id="home-page" class="">
    <!-- hero section -->
  <section class="hero h-[100vh] w-full grid place-items-center">
    <video
      id="home-hero-video"
      data-src="{% static 'core/drone-teaser.mp4' %}"
      autoplay
      preload="auto"
      loop
      muted
      class="lazy h-full w-full object-cover absolute top-0 left-0 -z-30"
    >
      Your browser does not support the video tag.
    </video>
    <div class="absolute h-full top-0 left-0 w-full -z-40 bg-black"></div>

    <div
      class="container mx-auto mt-40 sm:mt-0 px-6 grid place-content-center gap-4"
    >
      <h1
        class="text-white shadow-text sm:text-6xl text-3xl font-semibold text-center"
        data-aos="fade-down"
        data-aos-duration="700"
        data-aos-delay="1"
      >
        {% trans "The Future of Mobility is Here." %}
      </h1>
      <p
        class="text-white text-center sm:text-2xl text-xl"
        data-aos="fade-down"
        data-aos-duration="700"
      >
        {% trans "The most advanced drones for mobility" %}
      </p>
      <div class="cta mx-auto my-[10px] grid grid-cols-1 md:grid-cols-2 gap-4">
        <a
            href="{% url 'core:about' %}" 
          class="cta-accent bg-yellow-500 opacity-5 w-56 sm:h-[53px] h-9 items-center justify-center text-white text-sm sm:text-lg transition-all duration-400 ease-in-out hover:bg-yellow-400 hover:text-black flex"
          data-aos="zoom-in"
          data-aos-duration="700"
        >
          {% trans "Learn more" %}
      </a>
        <button
          id="watch-video-btn"
          class="cta-light-hero bg-transparent saturate-100 backdrop-blur-sm w-56 sm:h-[53px] h-9 border-white border text-white text-sm sm:text-lg transition-colors duration-300 ease-in-out hover:bg-white hover:text-black xl:inline"
          data-aos="zoom-in"
          data-aos-duration="700"
        >
          {% trans "Watch the video" %}
        </button>
      </div>
      <!-- <button
      id="mute-toggle-btn"
      class="flex justify-center text-white z-10"
    >
      <img
        id="unmute-icon"
        src="{% static 'core/img/mute.png' %}"
        alt="unmute"
        class="size-6 object-center"
      />
      <img
        id="mute-icon"
        src="{% static 'core/img/unmute.png' %}"
        alt="mute"
        class="hidden size-6"
      />
    </button> -->
    </div>
  </section>

  <!-- counter section -->
  {% include 'core/counter.html' %}

  <!-- featured section -->
  <section
    id="featured-section"
    class="my-10 py-10 border-y md:border-y-0 border-gray-300"
  >
    <div id="product-list" class="relative pb-5 w-full min-h-svh">
      <div
        class="text-center w-10/12 mx-auto space-y-3"
        data-aos="fade-zoom-in"
        data-aos-duration="700"
        data-aos-easing="ease-in-out"
      >
        <h2 class="lg:text-5xl text-3xl font-semibold">Our Payload Drones</h2>
        <p class="text-base">
          Reliable mobility UAV's make the task easier, safer, and faster
        </p>
      </div>

      <!-- featured products -->
      <div class="w-10/12 mx-auto z-100">
        <div
          class="container flex flex-col lg:flex-row gap-10 lg:mt-40 mt-8 mb-20 justify-center mx-auto z-[1]"
        >
          <div
            class="w-11/12 lg:w-4/12 flex mx-auto px-3 group"
            data-aos="fade-up"
            data-aos-delay="300"
          >
            <div
              class="product-item relative bg-white shadow-xl p-8 shadow-gray-400 transition-colors ease-in-out duration-75 anim-op-0"
            >
              <div
                class="product-img w-full relative overflow-hidden bg-gradient-to-b from-gray-300 from-30% to-white"
              >
                <a href="{% url 'core:agri-detail' %}"
                  ><img
                    data-src="{% static 'core/img/p10.png' %}"
                    class="lazy w-full scale-125 transition-all duration-300 ease-in-out drop-shadow-2xl"
                    alt="drone-img"
                /></a>
              </div>
              <div class="group product-detail mt-16 -mx-2 -mb-4">
                
                <a href="{% url 'core:agri-detail' %}" class="text-2xl my-2 group-hover:text-yellow-500 hover:scale-105 font-semibold product-model">P10 pro</a>
                <h3 class="text-base font-semibold product-description">
                    Portable, Efficient Agriculture Drone
                </h3>
                <p class="text-sm py-2 product-info">
                    India's first portable agriculture drone with a 10-liter tank payload, optimized for local conditions with a drastic size reduction for easy transportation.
                </p>
                
              </div>
            </div>
          </div>

          <div class="w-11/12 lg:w-4/12 flex mx-auto px-3" data-aos="fade-up">
            <div
              class="product-item relative bg-white shadow-xl p-8 lg:-mt-20 lg:mb-20 shadow-gray-400 transition-colors ease-in-out duration-75 anim-op-0"
            >
              <div
                class="product-img w-full relative overflow-hidden bg-gradient-to-b from-red-300 from-30% to-white"
              >
                <a href="#"
                  ><img
                    data-src="{% static 'core/img/p16.png' %}"
                    class="lazy w-full scale-125 transition-all duration-300 ease-in-out drop-shadow-2xl"
                    alt="drone-img"
                /></a>
              </div>
              <div class="group product-detail mt-16 -mx-2 -mb-4">
                
                <a href="{% url 'core:agri-detail' %}" class="text-2xl my-2 group-hover:text-yellow-500 hover:scale-105 font-semibold product-model">P16 pro</a>
                <h3 class="text-base font-semibold product-description">
                    Reliable Coaxial RTK agriculture drone
                </h3>
                <p class="text-sm py-2 product-info">
                    India's first coaxial agriculture drone with RTK, designed for unparalleled reliability and efficiency with significant local modifications
                </p>
                
              </div>
            </div>
          </div>
          <div
            class="w-11/12 lg:w-4/12 flex mx-auto px-3"
            data-aos="fade-up"
            data-aos-delay="300"
          >
            <div
              class="product-item relative bg-white shadow-xl p-8 shadow-gray-400 transition-colors ease-in-out duration-75 anim-op-0"
            >
              <div
                class="product-img w-full relative overflow-hidden bg-gradient-to-b from-blue-300 from-30% to-white"
              >
                <a href="#"
                  ><img
                    data-src="{% static 'core/img/dropper.png' %}"
                    class="lazy w-full scale-125 transition-all duration-300 ease-in-out drop-shadow-2xl"
                    alt="drone-img"
                /></a>
              </div>
              <div class="group product-detail mt-16 -mx-2 -mb-4">
                
                <a 
                    href="{% url 'core:agri-detail' %}" 
                    class="text-2xl my-2 group-hover:text-yellow-500 hover:scale-105 font-semibold product-model"
                >DropForce10</a>
                <h3 class="text-base font-semibold product-description">
                    High-Altitude, 10kg Payload Drone
                </h3>
                <p class="text-sm py-2 product-info">
                    An Indian drone designed for high-altitude operations with a 10kg payload, offering unmatched reliability for army missions.
                </p>
                
              </div>
            </div>
          </div>
        </div>
        <div class="">
          <div
            class="container h-28 relative w-28 mx-auto text-center z-[6]"
            data-aos="zoom-in"
          >
            <a
                href="{% url 'core:agri-detail' %}"
              class="mx-auto h-full bg-transparent text-center items-center flex font-semibold border-2 border-black rounded-[50%] hover:border-none hover:text-yellow-500 hover:shadow-lg hover:shadow-gray-400 hover:bg-white transition-all duration-300 ease-in-out hover:scale-105"
            >
              See all Products
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- partner section -->
  <section id="partner-section" class="my-28" data-aos="fade-up">
    <div class="container text-center mx-auto space-y-3">
      <h2 class="text-3xl lg:text-5xl font-semibold">Our Partners</h2>
      <p class="text-base">
        <!-- Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut, ducimus. -->
      </p>
    </div>
    <div id="partner-list-container" class="overflow-hidden mx-auto my-10">
      <ul
        --width="100%"
        id="partner-list"
        class=" relative overflow-hidden h-44 items-center mx-auto partner-list-l"
      >
        <li class="partner-logo1">
          <img data-src="{% static 'core/img/partners/logo1.png' %}" alt="" class="lazy">
        </li>
        <li class="partner-logo2">
            <img data-src="{% static 'core/img/partners/logo2.png' %}" alt="" class="lazy">
          
        </li>
        <li class="partner-logo3">
            <img data-src="{% static 'core/img/partners/logo14.png' %}" alt="" class="lazy">

          
        </li>
        <li class="partner-logo4">
            <img data-src="{% static 'core/img/partners/logo4.jpg' %}" alt="" class="lazy">
          
        </li>
        <li class="partner-logo5">
            <img data-src="{% static 'core/img/partners/logo5.png' %}" alt="" class="lazy">
          
        </li>
        <li class="partner-logo6">
            <img data-src="{% static 'core/img/partners/logo11.png' %}" alt=""  class="lazy">
          
        </li>
        <li class="partner-logo7">
            <img data-src="{% static 'core/img/partners/logo7.png' %}" alt="" class="lazy ">
          
        </li>
        </ul>
        </div>
        <div id="partner-list-r-container" class="overflow-hidden mx-auto my-10 w-full">

        <ul
            
            class=" relative overflow-hidden h-44 items-center mx-auto w-full partner-list-r">
        <li class="partner-logo8">
            <img data-src="{% static 'core/img/partners/logo8.png' %}" alt="" class="lazy ">
          
        </li>
        <li class="partner-logo9">
            <img data-src="{% static 'core/img/partners/logo9.png' %}" alt="" class="lazy">
          
        </li>
        <li class="partner-logo10">
            <img data-src="{% static 'core/img/partners/logo10.png' %}" alt="" class="lazy">
          
        </li>
        <li class="partner-logo11">
            <img data-src="{% static 'core/img/partners/logo6.png' %}" alt="" class="lazy">
          
        </li>
        <li class="partner-logo12">
            <img data-src="{% static 'core/img/partners/logo12.png' %}" alt="" class="lazy">
          
        </li>
        <li class="partner-logo13">
            <img data-src="{% static 'core/img/partners/logo13.png' %}" alt="" class="lazy">
          
        </li>
        <li class="partner-logo14">
            <img data-src="{% static 'core/img/partners/logo3.png' %}" alt="" class="lazy">

          
        </li>
        <!-- <li class="partner-logo15">
            <img data-src="{% static 'core/img/logo15.jpg' %}" alt="" class="lazy h-full object-center">
          
        </li> -->
      </ul>
    </div>
  </section>

  <!-- blog section -->
  <section id="blog-section" class="" data-aos="fade-up">
    <div class="text-center my-10 mx-auto space-y-3">
      <h2 class="text-3xl lg:text-5xl font-semibold">Our Blogs</h2>
      <p class="text-base">
        Stay updated with our latest insights, tips, and stories from the world
        of technology and innovation.
      </p>
    </div>

    <div id="blog-list-container" class="lg:w-9/12 mx-auto">
      <ul id="blog-list" class="flex flex-col px-2 lg:flex-row gap-8">
        {% for blog in latest_blogs %}
        <li class="lg:w-1/3 mx-auto grid shadow-md pb-4 overflow-hidden group">
          <div class="overflow-hidden aspect-[16/9]">
            <img
              data-src="{{ blog.get_thumbnail }}"
              alt="{{ blog.title }}"
              class="lazy w-full object-cover h-full group-hover:scale-125 transition-transform duration-700 ease-in-out"
            />
          </div>
          <div class="blog-details p-4 space-y-3">
            <h5
              class="text-xl group-hover:underline transition-colors duration-300 font-semibold leading-relaxed"
            >
              <a href="{{ blog.get_absolute_url }}" target="_blank"
                >{{ blog.title }}</a
              >
            </h5>
            <p class="text-ellipsis line-clamp-4 text-justify">
              {{ blog.summary|safe }}
            </p>
          </div>
          <div class="px-4 flex justify-between items-center">
            <span class="text-yellow-500 text-sm"
              >{{ blog.updated_at|date:"d F Y" }}</span
            >
            <a
              href="{{ blog.get_absolute_url }}"
              target="_blank"
              class="hover:text-yellow-500 hover:font-semibold flex gap-1 items-center peer"
              ><span class="opacity-0 group-hover:opacity-100 transition-opacity duration-300 ease-linear">Learn more</span
              ><img
                src="{% static 'core/img/right-arrow.png' %}"
                height="32"
                width="32"
                alt=""
                class="opacity-100 object-cover group-hover:scale-125 -translate-x-16 group-hover:translate-x-0 transition-all duration-300 ease-in-out"
            /></a>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="w-8/12 mx-auto flex justify-center mt-16">
      <a href="{% url 'blog:bloglist' %}" class="btn text-center"
        >See all blogs</a
      >
    </div>
  </section>

  <!-- project section -->
  <section id="project-section" class="my-18">
    <div class="text-center my-24 mx-auto space-y-3" data-aos="zoom-in">
      <h2 class="text-3xl lg:text-5xl font-semibold">Our Projects</h2>
      <p class="text-base">
        Explore our cutting-edge projects harnessing drone technology to innovate in industries from agriculture to infrastructure.
      </p>
    </div>

    <div
      id="image-slider"
      class="splide max-w-full min-h-96 m-auto"
      aria-label="Splide Basic HTML Example"
      data-aos="zoom-in"
    >
      <div class="splide__track">
        <ul class="splide__list h-[75vh] py-2">
            <li class="splide__slide shadow-md shadow-accentDark">
                <div class="project-card h-full relative bg-accentLight ">
                    <img
                      class="lazy absolute object-contain h-full  top-0 left-0"
                      data-src="{% static 'core/img/projects/sri_muktsar_sahib.png' %}"
                      alt="Image 2"
                    />
                    <p class="desc absolute bottom-[5%] p-4 w-full text-white text-2xl font-medium bg-accentDarkOverlay">Sri Muktsar Sahib</p>
                    </div>
              </li>
            <li class="splide__slide shadow-md shadow-accentDark">
                <div class="project-card h-full relative bg-accentLight">
                    <img
                      class="lazy absolute object-contain h-full  top-0 left-0"
                      data-src="{% static 'core/img/projects/dankour.png' %}"
                      alt="Image 2"
                    />
                    <p class="desc absolute bottom-[5%] p-4 w-full text-white text-2xl font-medium bg-accentDarkOverlay">Dankour</p>
                    </div>
              </li>
                <li class="splide__slide shadow-md shadow-accentDark">
                    <div class="project-card h-full relative bg-accentLight">
                        <img
                        class="lazy absolute object-contain h-full  top-0 left-0"
                        data-src="{% static 'core/img/projects/dorpuri.png' %}"
                        alt="Dorpuri"
                        />
                        <p class="desc absolute bottom-[5%] p-4 w-full text-white text-2xl font-medium bg-accentDarkOverlay">Dorpuri</p>
                    </div>
              </li>
                <li class="splide__slide shadow-md shadow-accentDark">
                    <div class="project-card h-full relative bg-accentLight">
                        <img
                        class="lazy absolute object-contain h-full  top-0 left-0"
                        data-src="{% static 'core/img/projects/newTehri.png' %}"
                        alt="Dorpuri"
                        />
                        <p class="desc absolute bottom-[5%] p-4 w-full text-white text-2xl font-medium bg-accentDarkOverlay">New Tehri</p>
                    </div>
              </li>
                <li class="splide__slide shadow-md shadow-accentDark">
                    <div class="project-card h-full relative bg-accentLight">
                        <img
                        class="lazy absolute object-contain h-full  top-0 left-0"
                        data-src="{% static 'core/img/projects/patoudi.png' %}"
                        alt="Dorpuri"
                        />
                        <p class="desc absolute bottom-[5%] p-4 w-full text-white text-2xl font-medium bg-accentDarkOverlay">Patoudi</p>
                    </div>
              </li>
                <li class="splide__slide shadow-md shadow-accentDark">
                    <div class="project-card h-full relative bg-accentLight">
                        <img
                        class="lazy absolute object-contain h-full  top-0 left-0"
                        data-src="{% static 'core/img/projects/sakipurVillage.png' %}"
                        alt="Dorpuri"
                        />
                        <p class="desc absolute bottom-[5%] p-4 w-full text-white text-2xl font-medium bg-accentDarkOverlay">Sakipur Village</p>
                    </div>
              </li>
                <li class="splide__slide shadow-md shadow-accentDark">
                    <div class="project-card h-full relative bg-accentLight">
                        <img
                        class="lazy absolute object-contain h-full  top-0 left-0"
                        data-src="{% static 'core/img/projects/sarol.png' %}"
                        alt="Dorpuri"
                        />
                        <p class="desc absolute bottom-[5%] p-4 w-full text-white text-2xl font-medium bg-accentDarkOverlay">Sarol</p>
                    </div>
              </li>
              
          <!-- Add more slides as needed -->
        </ul>
      </div>
    </div>
    <div class="grid place-content-center my-16">
      <!-- <a href="#"
        class="px-14 leading-10 font-semibold text-white bg-yellow-500 hover:bg-yellow-600 transition-colors duration-150"
      >
        Read More
    </a> -->
    </div>
  </section>
</main>

{% endblock body %} {% block javascript %}

<script>
  const video = document.getElementById("home-hero-video");
  const muteToggleBtn = document.getElementById("watch-video-btn");
  //   const muteIcon = document.getElementById("mute-icon");
  //   const unmuteIcon = document.getElementById("unmute-icon");

  muteToggleBtn.addEventListener("click", function () {
    video.muted = !video.muted; // Toggle muted state
  });


  
// counter

function createCounterIfInView(elementId, targetNumber, duration = 1000, onUpdate) {
    const counterElement = document.getElementById(elementId);

    if (!counterElement) {
        throw new Error(`Element with ID "${elementId}" not found!`);
    }

    const observer = new IntersectionObserver((entries) => {
        const entry = entries[0];
        if (entry.isIntersecting) {
            let currentCount = Number(counterElement.textContent) || 0; // Get initial count or set to 0

            const increment = Math.ceil((targetNumber - currentCount) / (duration / 10)); // Calculate increment per update

            const intervalId = setInterval(() => {
                currentCount += increment;

                if (currentCount >= targetNumber) {
                    currentCount = targetNumber;
                    clearInterval(intervalId); // Stop animation when target reached
                }

                counterElement.textContent = currentCount;

                if (onUpdate) {
                    onUpdate(currentCount); // Call optional update callback
                }
            }, 100); // Update every 10 milliseconds (adjust as needed)

            observer.unobserve(counterElement);
        }
    });

    observer.observe(counterElement);
}

createCounterIfInView('project-counter', 200, 150);
createCounterIfInView('exp-counter', 9);
createCounterIfInView('client-counter', 100, 150);
createCounterIfInView('flying-time-counter', 100000, 100);

</script>
{% endblock javascript %}
