{% extends 'base.html' %}
{% load static %}
{% block title %}Solutions | Drone Anatomy
{% endblock title %}\

{% block body %}

<main class="flex-1">
    <div class="relative h-dvh flex items-center">
        <img data-src="https://img.freepik.com/free-photo/bangkok-city-sunrise-thailand_335224-868.jpg?t=st=1722432184~exp=1722435784~hmac=d4c014bcda37bb3732497fd28e2ab3aa46c45dcddf3c3e8efe1bc966e5283bed&w=1060" alt="" class="lazy absolute top-0 left-0 object-cover object-center h-full w-full z-[-1]">
        <div class="w-10/12 mx-auto">
            <div class="">

                <h1 class="xl:text-5xl py-4 text-3xl font-semibold leading-[1.4]" data-aos="fade-up" data-aos-duration="400">Aerial Drone Surveying and Mapping</h1>
                <h3 class="text-white" data-aos="fade-up" data-aos-delay="200">Our stellar Aerial Drone Surveying / Mapping techniques are here to promote your treasured business to the next level by preserving time and money.</h3>
            </div>
        </div>
    </div>
    <div class="w-11/12 lg:w-9/12 mx-auto flex flex-col gap-10 my-16">

        <div class="space-y-4">
            <h2 class="text-3xl font-semibold">Drone Surveying / Mapping in India</h2>
            <p class="text-justify">Our drone surveying and mapping expertise ensures precise and reliable results for diverse projects, utilizing UAV drone survey techniques and making us a top choice for drone surveying, drone surveying and mapping, drone mapping and surveying, UAV surveying and mapping, drone survey mapping, UAV drone survey, and UAV in surveying. As one of the leading drone survey companies in India, we excel in providing advanced drones and surveying services, ensuring unparalleled UAV for surveying and mapping solutions.</p>
        </div>
        <div class="flex justify-between lg:justify-center gap-4 lg:gap-8 my-2">
            <div class="flex flex-col gap-2 justify-center font-medium items-center lg:w-1/5 shadow-md aspect-1 hover:bg-yellow-500 transition-colors duration-300 hover:text-white hover:shadow-lg" data-aos="zoom-in">
                <img data-src="{% static 'core/img/dataprocessing.png' %}" alt="" class="lazy w-1/2">

                <h3 class="text-center">5x Faster Data Processing</h3>
            </div>
            <div class="flex flex-col gap-2 justify-center font-medium items-center lg:w-1/5 shadow-md aspect-1 hover:bg-yellow-500 transition-colors duration-300 hover:text-white hover:shadow-lg" data-aos="zoom-in">
                <img data-src="{% static 'core/img/expert.png' %}" alt="" class="lazy w-1/2">
                <h3 class="text-center">Team of GIS Experts</h3>
            </div>
            <div class="flex flex-col gap-2 justify-center font-medium items-center lg:w-1/5 shadow-md aspect-1 hover:bg-yellow-500 transition-colors duration-300 hover:text-white hover:shadow-lg" data-aos="zoom-in">
                <img data-src="{% static 'core/img/deliverable.png' %}" alt="" class="lazy w-1/2">

                <h3 class="text-center">Deliverables on Time</h3>
            </div>
        </div>


        <div class="my-8">
            <h2 class="text-3xl my-8 font-semibold">Applications</h2>
            <div class="flex flex-col gap-4">
                <div class="flex flex-col lg:flex-row gap-4 p-4 border-black border shadow-md">
                    <div class="lg:w-1/2 overflow-hidden">
                        <img data-src="https://img.freepik.com/free-photo/majestic-mountains-with-snow-water-scene-generative-ai_188544-12459.jpg?t=st=1722512645~exp=1722516245~hmac=8da6a830e990214681cc3b317983881cd4dcb4d8f34819bfb6a00b671ec02eda&w=1060" alt="" class="lazy hover:scale-110 transition-transform duration-300 ease-linear">
                    </div>
                    <div class="lg:w-1/2 text-justify space-y-4" data-aos="fade-left">
                        <h3 class="text-3xl">Land Surveying</h3>
                        <p>Our nationwide and tailored service of drone surveying enables us to procure precise topographic maps and 3D models of areas with unaccessible evidence. Extensive land surveys and topographical surveys permit the most definite representation of cadastral maps, immediately and in a hassle-free manner. Our GIS crew then post-processes the data with photogrammetry software to generate deliverables like a detailed Digital Elevation Model (DEM), Digital Terrain Model (DTM), contours, brake lines, ortho-mosaic/ortho-imagery, interactive 3D Mode, and 3D reconstructions of land sites or buildings.</p>
                    </div>
                </div>
                <div class="flex flex-col lg:flex-row gap-4 p-4 border-black border shadow-md">
                    <div class="lg:w-1/2 overflow-hidden">
                        <img data-src="https://img.freepik.com/free-photo/majestic-mountains-with-snow-water-scene-generative-ai_188544-12459.jpg?t=st=1722512645~exp=1722516245~hmac=8da6a830e990214681cc3b317983881cd4dcb4d8f34819bfb6a00b671ec02eda&w=1060" alt="" class="lazy hover:scale-110 transition-transform duration-300 ease-linear">
                    </div>
                    <div class="lg:w-1/2 text-justify space-y-4" data-aos="fade-left">
                        <h3 class="text-3xl">Land Management & Development</h3>
                        <p>We encourage organizations to adopt topographic surveys for a more thoughtful land planning and management process. Providing well-defined and more expeditious data, our background in land management and development has supported several private and government agencies for secure pre-construction planning. We steer our attention to site scouting, allotment, planning, design, and the concluding construction of roads, buildings, and utilities. Accurate aerial surveying/ mapping and topographical mapping at frequent intervals of time retain the course of construction and plans, at pocket-friendly costs.
                        </p>
                    </div>
                </div>
                <div class="flex flex-col lg:flex-row gap-4 p-4 border-black border shadow-md">
                    <div class="lg:w-1/2 overflow-hidden">
                        <img data-src="https://img.freepik.com/free-photo/majestic-mountains-with-snow-water-scene-generative-ai_188544-12459.jpg?t=st=1722512645~exp=1722516245~hmac=8da6a830e990214681cc3b317983881cd4dcb4d8f34819bfb6a00b671ec02eda&w=1060" alt="" class="lazy hover:scale-110 transition-transform duration-300 ease-linear">
                    </div>
                    <div class="lg:w-1/2 text-justify space-y-4" data-aos="fade-left">
                        <h3 class="text-3xl">Stockpile Volumetric Measurements</h3>
                        <p>Drones are a popular and conventional method of Stockpile measurements in the industry. Our pilots can conduct Stockpile analysis with our highly exquisite surveying drones and capture extensive topographic data points that traditional methods cannot detect due to their irregular shapes. Surveying can capture and depict all these variations as shape’s actual volume, and not just its estimate. We strategically and efficiently deliver photogrammetric information through Contouring, Digital Surface Models, stockpiles such as waste, mines, inventory, agriculture, etc., and volume measurements with a nearly 99% accuracy rate.</p>
                    </div>
                </div>
                <div class="flex flex-col lg:flex-row gap-4 p-4 border-black border shadow-md">
                    <div class="lg:w-1/2 overflow-hidden">
                        <img data-src="https://img.freepik.com/free-photo/majestic-mountains-with-snow-water-scene-generative-ai_188544-12459.jpg?t=st=1722512645~exp=1722516245~hmac=8da6a830e990214681cc3b317983881cd4dcb4d8f34819bfb6a00b671ec02eda&w=1060" alt="" class="lazy hover:scale-110 transition-transform duration-300 ease-linear">
                    </div>
                    <div class="lg:w-1/2 text-justify space-y-4" data-aos="fade-left">
                        <h3 class="text-3xl">Slope Monitoring</h3>
                        <p>Slope failure represents a significant geological risk, and early detection is crucial to ensure safety. Our team of experts employs GIS mapping techniques to effectively identify ground surface steepness, utilizing the Digital Terrain Model (DTM) and Digital Surface Model (DSM) as part of the slope monitoring process. This information, along with the LIDAR survey data, is essential for slope monitoring, landslide mitigation, and prevention of slope failure. Aerial survey mapping is an added valuable tool used by specialists to track the Earth’s movement to help predict and prevent such destruction.</p>
                    </div>
                </div>
                <div class="flex flex-col lg:flex-row gap-4 p-4 border-black border shadow-md">
                    <div class="lg:w-1/2 overflow-hidden">
                        <img data-src="https://img.freepik.com/free-photo/majestic-mountains-with-snow-water-scene-generative-ai_188544-12459.jpg?t=st=1722512645~exp=1722516245~hmac=8da6a830e990214681cc3b317983881cd4dcb4d8f34819bfb6a00b671ec02eda&w=1060" alt="" class="lazy hover:scale-110 transition-transform duration-300 ease-linear">
                    </div>
                    <div class="lg:w-1/2 text-justify space-y-4" data-aos="fade-left">
                        <h3 class="text-3xl">Urban Planning</h3>
                        <p>With astonishing advancements in drone technology, the use of drones in urban planning has become extensive. Through drone surveying, we can accumulate enormous amounts of data quickly and at lower prices due to AI processing and machine learning. We have passionately remitted our expertise to numerous private builders and government agencies to plan and examine the sites’ existing social and environmental conditions. A treasured part of our success stems from capturing high-resolution aerial data, LIDAR surveys, and other significant information using cutting edge drone technology.</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="my-8">
            <h2 class="text-3xl my-8 font-medium">Deliverables We Offer</h2>
            <div class="grid lg:grid-cols-3 lg:gap-8 gap-4 justify-between">
                <div class="flex flex-col p-4 gap-4 shadow-lg bg-accentLight" data-aos="zoom-in">
                    <h3 class="font-medium text-xl">Orthomosaic Maps</h3>
                    <p class="text-justify">Drone images are corrected for image distortion and stitched together during post-processing to create a highly-accurate orthomosaic map. Each pixel contains 2D geo-information (X, Y) and can directly procure accurate measurements, such as horizontal distances and surfaces.</p>
                </div>
                <div class="flex flex-col p-4 gap-4 shadow-lg bg-accentLight" data-aos="zoom-in">
                    <h3 class="font-medium text-xl">3D Point Cloud</h3>
                    <p class="text-justify">A densified point cloud can be generated from drone images. Each point contains geospatial (X, Y, Z) and color information. It provides a very accurate model for distance (slant and horizontal), area and volume measurements.</p>
                </div>
                <div class="flex flex-col p-4 gap-4 shadow-lg bg-accentLight" data-aos="zoom-in">
                    <h3 class="font-medium text-xl">3D textured mesh</h3>
                    <p class="text-justify">The 3D textured mesh replicates the edges, faces, vertices, and textures of the area captured by the drone. This model is particularly beneficial for visual inspections and becomes especially valuable when external stakeholders or public participation is integral to a project.</p>
                </div>
                <div class="flex flex-col p-4 gap-4 shadow-lg bg-accentLight" data-aos="zoom-in">
                    <h3 class="font-medium text-xl">Digital Surface Models (DSM)</h3>
                    <p class="text-justify">Drone images can also be used to create DSM models of the area. Each pixel contains 2D information (X, Y) and the altitude (Z value) of the highest point for this position.</p>
                </div>
                <div class="flex flex-col p-4 gap-4 shadow-lg bg-accentLight" data-aos="zoom-in"> 
                    <h3 class="font-medium text-xl">Digital Terrain Models (DTM)</h3>
                    <p class="text-justify">After filtering objects such as buildings, the drone images can be used to create DTMs with each pixel containing 2.5D information (X, Y, and Z value of the highest altitude).</p>
                </div>
                <div class="flex flex-col p-4 gap-4 shadow-lg bg-accentLight" data-aos="zoom-in">
                    <h3 class="font-medium text-xl">Contour Maps</h3>
                    <p class="text-justify">Depending on the project requirements, either the DTM or DSM model, with custom contour intervals, can be used to create a contour lines map, giving you a better understanding of the surface of the area shot by the drone.</p>
                </div>
                
            </div>
        </div>
    </div>

    <div class="w-full flex h-[30vh] flex-col gap-10 justify-center items-center bg-[#fdf9e8]">
        <h3 class="lg:text-3xl text-xl text-center" data-aos="fade-up" data-aos-duration="500">Talk to our team for any queries regarding drone surveying for your Industry.</h3>
        <!-- <h4>Talk to our team for any queries regarding drone surveying for your Industry.</h4> -->
        <a href="{% url 'core:contact' %}" class=" bg-yellow-500 text-white px-4 py-2 3xl:text-2xl text-lg font-medium  hover:bg-transparent hover:border-2 border-yellow-500 hover:text-black hover:scale-105 transition-all duration-300 ease-linear">Get in touch with us</a>
    </div>
</main>

{% endblock body %}