@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: #0B0C0C;
    background-color: #FEFEFF;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  p {
    color: rgb(108, 117, 125);
    font-size: 1rem;
  }
  body {
    min-height: 100vh;
  }

@media screen and (max-width:1100px) {
    p {
        font-size: 14px;
    }
}
