img,
video {

    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
label{
    font-weight: 500;
}

.shadow-text {
    text-shadow: 1px 1px 2px #676463bd;
}

.underline-text::after {
    content: '';
    position: absolute;
    top: 86%;
    left: 0;
    right: 0;
    width: 100%;
    height: 2%;
    z-index: -1;
    border-radius: 2px;
    border-bottom: 4px solid #0c0c0c;
    
}

@keyframes underlineAnimation {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }


}

.animate-underline::after {
    animation: underlineAnimation 0.8s ease-in-out;
}


.tick-icon::before {
    content: url('../img/tick-square.png');
    margin-right: 8px;
    /* margin-top: 8px; */
    
}

.loaded {
    opacity: 1;
}

.text-shadow {
    text-shadow: 0 2px 10px #000;
}

#preloader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    /* Preloader background color */
    z-index: 9999;
    /* Ensure it appears on top of other content */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 100px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid #0000;
    border-right-color: #f5c000;
    position: relative;
    animation: l24 1s infinite linear;
}

.loader:before,
.loader:after {
    content: "";
    position: absolute;
    inset: -8px;
    border-radius: 50%;
    border: inherit;
    animation: inherit;
    animation-duration: 2s;
}

.loader:after {
    animation-duration: 4s;
}

@keyframes l24 {
    100% {
        transform: rotate(1turn)
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

select {
    background-image: none;
    padding-right: 0;
}

header {
    max-height: 93px;
}

#about-banner {
    background-image: url('../img/cloud-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50vh
}


#about-banner>div {
    background-image: url('../img/about/airdrone.png');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 14%;
    /* object-fit: cover; */
    z-index: 2;
}


.contact-banner {
    position: relative;
    background-image: url('../img/map-mask.png');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 60%/cover;
    
}

.career-banner {
    position: relative;
    background: url('../img/career-mask.jpg');
    background-size: 60%/cover;
    background-repeat: no-repeat;
    background-position: right;
}
.career-banner::before {
    content: '';
    background-image: linear-gradient(to right, #f5c000 25%, rgb(255, 204, 0, 0.4));
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.contact-banner::before {
    content: '';
    background-image: linear-gradient(to right, #f5c000 40%, rgb(255, 204, 0, 0.4));
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 981px) {
    .contact-banner::before {
        background-image: linear-gradient(to right, #f5c000 20%, rgb(255, 204, 0, 0.4));
        height: 100%;
    }


}

.throttle {
    font-size: 46px;
    line-height: 1;

}

.card {
    background-color: #fff;
    /* border-radius: 8px; */
    box-shadow: 0 0 60px 7px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 50%;
    margin: 1rem 0;
    padding: 1.75rem 30px;
    box-sizing: border-box;
    z-index: 1;
}

.card h1 {
    margin-top: 0;
    font-size: 24px;
    color: #333;
}

@media screen and (max-width:1100px) {
    .throttle {
        font-size: 32px;
    }

    .card {
        padding: 1.5rem 1.5rem;
        width: 100%;
    }
}


.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    /* font-weight: bold; */
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    /* border-radius: 4px; */
}

.form-group textarea {
    resize: none;
    width: 100%;
    height: 150px;
}

.btn {
    display: inline-block;
    background-color: #f5c000;
    color: #fff;
    padding: 10px 44px;
    text-align: center;
    border: none;
    /* border-radius: 4px; */
    cursor: pointer;
}

.btn:hover {
    background-color: #E1B133;
}

#newsletter-form label {
    content: '';
}


@keyframes scrollLeft {
    to {
        left: -132px;
    }
}
@keyframes scrollRight {
    to {
        right: -132px;
    }
}

.partner-list-l, .partner-list-r {
    position: relative;
    width: 100%;
    min-width: calc(132px * 7);
    height: 110px;
}


.partner-list-l > li {
    position: absolute;
    left: 100%;
    width: 132px;
    height: 100%;
    animation-name: scrollLeft;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.partner-list-r > li {
    position: absolute;
    right: 100%;
    width: 132px;
    height: 100%;
    animation-name: scrollRight;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.partner-list-l img, .partner-list-l img {
    object-fit: contain;
    aspect-ratio: 3/2;
    height: 100%;
    /* width: calc(924 / 7); */
}

.partner-logo1 {
    animation-delay: calc(30s / 7 * (7 - 1) * -1);
}
.partner-logo2 {
    animation-delay: calc(30s / 7 * (7 - 2) * -1);
}
.partner-logo3 {
    animation-delay: calc(30s / 7 * (7 - 3) * -1);
}
.partner-logo4 {
    animation-delay: calc(30s / 7 * (7 - 4) * -1);
}
.partner-logo5 {
    animation-delay: calc(30s / 7 * (7 - 5) * -1);
}
.partner-logo6 {
    animation-delay: calc(30s / 7 * (7 - 6) * -1);
}
.partner-logo7 {
    animation-delay: calc(30s / 7 * (7 - 7) * -1);
}
.partner-logo8 {
    animation-delay: calc(30s / 7 * (7 - 1) * -1);
}
.partner-logo9 {
    animation-delay: calc(30s / 7 * (7 - 2) * -1);
}
.partner-logo10 {
    animation-delay: calc(30s / 7 * (7 - 3) * -1);
}
.partner-logo11 {
    animation-delay: calc(30s / 7 * (7 - 4) * -1);
}
.partner-logo12 {
    animation-delay: calc(30s / 7 * (7 - 5) * -1);
}
.partner-logo13 {
    animation-delay: calc(30s / 7 * (7 - 6) * -1);
}
.partner-logo14 {
    animation-delay: calc(30s / 7 * (7 - 7) * -1);
}
.partner-logo15 {
    animation-delay: calc(30s / 7 * (7 - 8) * -1);
}

.spray-banner {
    background-image: url('../img/agri/spray-banner.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 94vh;
}

#agri-hero-1 {
    background-image: url('../img/agri/agri-drone-banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

#hero-1-content {
    position: absolute;
    top: 30%;
    left: 10%;
}

#hero-1-content h3::after {
    content: 'Agricultural Drone';
    position: absolute;
    bottom: 4px;
    font-size: 2rem;
    font-weight: 500;
    font-style: italic;
    left: 30%;
    width: 100%;
}

@media screen and (max-width:768px) {
    #hero-1-content {
        top: 15%;
        left: 5%;
    }
    
    #hero-1-content h3::after {
        bottom: 2px;
        font-size: 1.1rem;
        left: 27%;
        width: fit-content;

    }
}

@media screen and (min-width:791px) and (max-width:1400px) {
    #hero-1-content {
        top: 10%;
        left: 25%;
    }
    #hero-1-content h3::after {
        font-size: 1.25rem;
        left: 45%;
    }
}

@media screen and (max-width:1100px) {
    header {
        max-height: 62px;
    }

    #agri-hero-1 {
        width: 100%;
        background-image: url('../img/agri/agri-hero1-m.png');
        background-position: center;
        background-size: cover;
    }

    #about-banner {
        height: 30vh;

    }

    #about-banner>div {
        background-size: 30%;
        padding: 0 1rem;
    }

}

/* .path {
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 1s ease-in-out;
}

.path.animate {
    stroke-dasharray: 5000;
    stroke-dashoffset: 0;
} */
@media screen and (min-width:1200px) {

    #journey-timeline::before {

        content: '';
        display: block;
        position: absolute;
        left: 50%;
        top: 10px;
        width: 0;
        height: 90.8%;
        border-left: 1px solid gray;
    }

    .timeline_row::before {
        content: '';
        display: block;
        position: absolute;
        top: 10px;
        left: calc(50% - 13px);
        width: 0;
        height: 0;
        border-radius: 13px;
        border: 2px solid #FEFEFF;
        transition: transform 0.5s;

    }

    .timeline_row.active::before {
        transform: scale(1.2);
        width: 26px;
        height: 26px;
        background: #fdf9e8;
        background: #f5c000;
        /* background: rgba(0, 0, 0, 0.1); */
    }
}


#agri-hero-2 {
    background-image: url('../img/agri/agri-drone-m.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
}


#agri-drone-video video {
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
    /* position: absolute; */
    top: 0;
    left: 0;
    z-index: 1;
}

#agri-spray-feature-container {
    background-image: url('../img/agri/night-drone.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 94vh;
}


#agri-mapping-feature-container {
    background-image: url('../img/agri/agri-banner-4.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;
}

@media screen and (max-width: 900px) {
    #agri-mapping-feature-container {
        background-size: contain;
        background-position: bottom;
        height: 30vh;
    }
}

/* #featured-section {
    background-image: url('../img/cloud-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} */

#featured-section p {
    font-size: 14px;
}

#featured-section h6 {
    font-size: 18px;
    font-weight: 500;
}

#featured-section .product-img::before {
    content: " ";
}

#featured-section .product-img::after {
    background: linear-gradient(180deg, #659B91, #fff);
    bottom: 0;
    content: "";
    left: 0;
    margin: -2rem;
    position: absolute;
    -o-object-fit: cover;
    object-fit: cover;
    right: 0;
    top: 0;
    z-index: -1;
}

#featured-section .product-detail::after {
    background-color: transparent;
    bottom: -2rem;
    clip-path: polygon(0 60px, 100% 60px, 100% 100%, 0 100%);
    content: "";
    left: -2rem;
    position: absolute;
    right: -2rem;
    top: -60px;
    transition: clip-path .3s ease, background-color .3s ease;
    z-index: -2;
}

#featured-section .product-img {
    perspective: 1000px;
    overflow: visible;
}

#featured-section .product-item:hover img {
    transform: rotateY(8deg) scale(1.35);
}

#product-list {
    background-color: #bcd4e8;
    background-image: url(../img/cloud-bg.jpg);
    background-position: 50%;
    background-size: cover;
}

#product-list::before {
    background: linear-gradient(180deg, #fff, hsla(0, 0%, 100%, .7) 30%, hsla(0, 0%, 100%, 0));
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}


#product-list::after {
    background: linear-gradient(180deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, .5) 50%, #fff);
    bottom: 0;
    content: "";
    height: 20%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 0;
}

@media screen and (min-width:980px) {
    #product-list::after {
        background: linear-gradient(180deg, hsla(0, 0%, 100%, 0), #fff);
        height: 20%;
    }

}

footer p {
    color: #FFFEFE;
}

footer h6 {
    color: #f5c000;
    font-size: 18px;
    font-weight: 500;
}

#image-slider {
    max-width: 100%;
    /* padding: 0.5rem 0; */
    height: 65vh;
    margin: auto;
}

.splide__track {
    height: 100%;
    padding: 0.5rem 0;
}

/* Ensure images fit within the slider */

.splide__slide img {
    /* Set the desired maximum height */
    -o-object-fit: cover;
    object-fit: cover;
}

/* Optional: Additional styling for responsiveness */

@media (max-width: 768px) {
    .splide__slide img {
        height: 440px;
        width: auto;
    }
    #image-slider {
        height: 45vh;
    }
}

@media (max-width: 640px) {
    .splide__slide img {
        height: 400px;
        width: auto;
    }
}

/* drone page  */

#drone-hero-container {
    background-image: url('../img/agri_drone.png');
    background-size: cover;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

#v50pro-two-part::before {
    content: "";
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    background-color: rgba(0, 0, 0, .4);
    z-index: 5;
}

#drone-hero-2 {
    height: 200vh;
}

/*  */


.drone-application-card {
    background-image: url('../img/atomized-spary-image1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 320px;
    width: 487px;
}

.v50pro-two-descbox {
    transform: translateY(50%);
    transition: transform 0.2s ease-out, scale 0.2s ease-out;
}

.v50pro-tow-part-desc {
    font-size: 2rem;
    font-weight: bold;
    opacity: 0;
    transform: scale(1);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.v50pro-tow-part-desc.visible {
    opacity: 1;
}

.v50pro-tow-part-desc.scale-up {
    transform: scale(1.5);
}

.sticky-section {
    position: sticky;
    top: 0;
    /* Adjust top offset as needed */
    height: 100vh;
    /* Adjust height for desired sticky behavior */
    overflow: hidden;
    /* Hide overflowing text initially */
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    /* Adjust fit as needed */
    z-index: -1;
    /* Place video behind content */
}

.text-container {
    height: 100%;
    /* Match sticky section's height */
    overflow-y: auto;
    /* Enable scrolling within the container */
}

.text-list {
    list-style: none;
    padding: 0;
    margin: 0;
    transition: transform 0.5s ease-in-out;
    /* Smooth transition */
}

.text-list li {
    margin-bottom: 10px;
    /* Add spacing between list items */
}

/* Unsticky behavior (triggered by JavaScript) */

.sticky-section.unsticky {
    position: static;
    overflow: visible;
    /* Allow content to overflow */
}

/* Parallax effect (optional, adjust as needed) */

.sticky-section .text-container {
    transform: translateY(calc(-50% + var(--scroll-y)));
    /* Adjust y-axis movement */
}

:root {
    --scroll-y: 0;
    /* Initial scroll position */
}

.selector-list,
.selector-list-1,
.selector-list-2 {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.selector,
.selector1,
.selector2 {
    cursor: pointer;
    padding: 10px 10px 10px 0;
    margin-bottom: 5px;
    padding-left: 1rem;
    color: gray;
}

.selector.active,
.selector1.active,
.selector2.active {
    border-left: 2px solid #ccc;
    color: #FFFEFE;
    font-weight: 500;

}

.selector1.active {
    color: #0B0C0C;
}

.selector-content,
.selector-content1,
.selector-content2 {
    display: none;
    padding-left: 1rem;
}

.selector-content.active,
.selector-content1.active,
.selector-content2.active {
    display: block;
}

.selector-image,
.selector-image1 {
    height: auto;
    width: 100%;
    object-fit: cover;
    display: none;
    margin-left: 20px;
}

.selector-image2 {
    height: 90%;
    /* width: auto; */
    object-fit: cover;
    display: none;
    margin-left: 20px;
}

.selector-image.active,
.selector-image1.active,
.selector-image2.active {
    display: block;
}

@keyframes autoBlurAnimation {
    0% {
        filter: blur(40px);
        font-size: 2rem;
        transform: scale(0.5);
    }

    45%,
    55% {
        filter: blur(0px);
        font-size: 6rem;
        transform: scale(1);

    }

    100% {
        filter: blur(40px);
        font-size: 2rem;

        transform: scale(0.5);

    }
}

.auto-blur {
    animation: autoBlurAnimation both;
    animation-timeline: view();
    /* transition: transform 0.5s; */
}



