{% load static %}
<footer class="bg-[#232526] text-white">
  <div class="container w-9/12 py-16 grid md:grid-cols-4 place-content-center mx-auto">
    <div class="grid gap-6 py-6">
      <div id="footer-logo-container">
        <div class="logo overflow-hidden flex w-28 lg:w-44">
            <img
              id="logo-light"
              src="{% static 'img/logo-light.png' %}"
              alt="drone anatomy"
              class="object-center object-contain"
            />
            </div>
        <p id="slogan">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos
          sapiente recusandae consectetur obcaecati consequuntur non quisquam
          iure.
        </p>
        
      </div>

      <address id="footer-address" class="space-y-3">
        <h6>CONTACT</h6>
        <p id="company-email">info@droneanatomy.com</p>
        <p id="address">
          C-40, Durga Industrial Park, Sahibabad, Ghaziabad, UP, India
        </p>
      </address>
      <ul id="social-icons-footer" class="flex gap-3">
        <li>twitter</li>
        <li>facebook</li>
        <li>linkedin</li>
        <li>instagram</li>
    </ul>
    </div>

    <div class="grid gap-6 py-10">
      
      <div class="space-y-3">
        <h6>PRODUCTS</h6>
        <ul>
          <li>Agri</li>
          <li>lafj</li>
          <li>akslfj</li>
          <li>fkejf</li>
        </ul>
      </div>
      <div class="space-y-3">
        <h6>PRODUCTS</h6>
        <ul>
          <li>Agri</li>
          <li>lafj</li>
          <li>akslfj</li>
          <li>fkejf</li>
        </ul>
      </div>
    </div>
    <div class="grid gap-6 py-10">
      
      <div class="space-y-3">
        <h6>PRODUCTS</h6>
        <ul>
          <li>Agri</li>
          <li>lafj</li>
          <li>akslfj</li>
          <li>fkejf</li>
        </ul>
      </div>
      <div class="space-y-3">
        <h6>PRODUCTS</h6>
        <ul>
          <li>Agri</li>
          <li>lafj</li>
          <li>akslfj</li>
          <li>fkejf</li>
        </ul>
      </div>
    </div>

    <div class="space-y-3 py-10">
      <h6>SOLUTIONS</h6>
      <ul>
        <li>aflksd</li>
        <li>fajdl</li>
        <li>fasljdf</li>
        <li>jsdldkfjao</li>
        <li>ksdfjoi</li>
        <li>sajdfki</li>
        <li>sajdfki</li>
        <li>sajdfki</li>
        <li>sajdfki</li>
        <li>sajdfki</li>
        <li>sajdfki</li>
      </ul>
    </div>

  </div>

  <div class="w-full grid place-content-center">
    <ul class="text-center flex">
        <li>Privacy Policy</li>
        <span class="mx-4">|</span>
        <li>Terms & Conditions</li>
        
       <span class="mx-6"> Drone Anatomy All Rights Reserved</span>
        <!-- <li></li> -->
    </ul>
  </div>
</footer>
